#header
{
/*width : 1000px;
height :85px;
background : #333333;
background-image: url('/images/logo.png');
background-repeat:no-repeat;
background-position:left;
background-color:#000;
background-image:url('../images/tile.png');*/
background-color:#000;
top:0px;
left:0px;
right:0px;
height:70px;
width:100%
}

#header-image{
	background-image:url('../images/logo.png');
	width:100%;
	height:70px;	
	background-repeat:no-repeat;
}

#header-imageUK{
	/*background-image:url('../images/logoUK.png');*/
	width:100%;
	height:70px;
	cursor: pointer;	
	background-repeat:no-repeat;
}

.header-line
{
width :1000px;
height : 7px;
background-image: url('../images/border_1px.png');
background-position:left;
}
.overallbg
{
background : #000000;
}

.mainmenu
{
width :1000px;
height :32px;
background :#000000;
overflow : none;

}
.mainmenu ul
{
margin : 0 0 0 30px;
padding : 0px;
text-align:center;
}

.mainmenu ul li
{
float : left;
list-style : none;
color :#ffffff;
padding :7px 0 0px 0px;
text-align:center;
display:block;
}
.mainmenu ul li a
{

text-decoration: none;
color :#ffffff;
}
/*
#menu1
{
width :120px;
height :25px;
background :#ff8500;

}
#menu2
{
width :120px;
height :25px;
background :#ff6600;

}
#menu3
{
width :120px;
height :25px;
background :#ee3312;

}
#menu4
{
width :120px;
height :25px;
background :#bc1123;

}
#menu5
{
width :120px;
height :25px;
background :#790021;
}
#menu6
{
width :120px;
height :25px;
background :#541134;
}
*/
.tbl-align2
{
margin : 0 5px;
padding : 0px 0 50px 0;
border : 0px;
}

.tbl-align
{
width :1000px;
height :75%;
margin : 0 5px;
/*padding : 0px 0 85px 0;*/
border : 0px;
}


.tbl-align2
{
width :1000%;
height :75%;
margin : 0 5px;
/*padding : 0px 0 85px 0;*/
border : 0px;
}

body
{
font-family: Helvetica, Arial,sans-serif;
font-size :10pt;
/*min-width:1024px;*/
text-align:left;
}

table {
font-size:9pt;
padding:0;
margin:0;
border:none;
}

.parag
{
height :1px;
margin:75px 50px 15px 0;
font :25px tahoma;
}
.fontbold
{
height :1px;
margin:7 0 0 0;
font-weight :bold;
font-size :13px;

}

.login
{
width :275px;
height : 300px;
background :#eaeaea;
}

.table2
{
background : #eaeaea;
font-family: Helvetica, Arial, sans-serif;
}

.tbl-wrapper {
width:100%;
overflow:scroll;
}

.tbl-big {
padding:0;
margin:0 0 10px 0;
border:none;
width:100%:
text-align:left;
}

.tbl-big tr td, .tbl-big thead tr th
{
padding:8px;
border-bottom:1px #bbb dotted;
text-align:left;
}

.sortable tr td, .sortable thead tr th
{
padding:8px;
border-bottom:1px #bbb dotted;
text-align:left;
}

.tbl-single-row {
padding:0;
margin:0 0 10px 0;
border-right:1px #eee solid;
border-bottom:1px #eee solid;
border-left:1px #eee solid;
width:100%:
}

.tbl-single-row tr td {
padding:8px;
}

.column-title, .tbl-big thead tr th
{
background-color:#eee;
font-weight:bold;
border:none;
}

.pagination {
margin-top:10px;
}

.sign
{
margin-top : 10px;
margin-left: 20px;
padding-left : 30px;
font-size :10pt;
}

.sbutton
{
margin :10px 0 0 50px;
border :0px;
background-color :#ff6600;
color :#ffffff;
}
.bigbutton
{
margin :10px 0 0 50px;
border :0px;
background-color :#ff6600;
color :#ffffff;
font-size: 14;
}

.sbutton1
{
margin :5px 0 0 0;
border :0px;
background-color :#ff6600;
color :#ffffff;
}

.sbutton3
{
margin :0 0 0 5px;
border :0px;
background-color :#ff6600;
color :#ffffff;
}

.checkbox
{
margin-top :10px;
}

.ahref
{
font: Georgia, serif;
font-size :10px;
color: #ff6600;
}

.tbl-alignbottom
{
font-size :10px;
color:#ffffff;
margin :0 0 0 10px;
}
.publisher
{
width :250px;
height :30px;
background :#000000;
color :#ffffff;
}
.task
{
padding :0 0 0 12px;
}

.tbox
{
display :block;
border:1px solid #eaeaea;
height :25px;
width :200px;
margin :0 0 0 0px;
}

.tboxsign, .tboxnumsign, .tareasign
{
border:1px solid #eaeaea;
margin :0 0 0 0px;
}
.tboxsign {width:250px;height:25px;}
.tboxnumsign {width:50px;}
.tareasign {width:250px;height:100px;}

.footer
{
 margin:0px;
padding:0px 5px 0 5px;
float:left;
font:  Verdana,sans-serif;
font-size: 11;
list-style:none;
}
.footer ul
{
 margin:0px;
padding:0px;
}
.footer ul li
{
 margin:0px;
padding:0px 5px 0 5px;
float:left;
font: verdana;
list-style:none;
}
.footer ul li a
{
text-decoration:none;
margin:0px;
padding:0px 5px 0 5px;
float:left;
font:sans-serif;
list-style:none;
}

.leftheading
{
 font :25px tahoma;
}

.smallfont
{
 font :8px tahoma;
}

.theader td
{
 font :16px;
 color :#ffffff;
 font-weight :bold;
}
.test
{
  color:red;
  font-size:16px;
}

.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
			display: none;
			position: absolute;
			top: 25%;
			left: 25%;
			width: 50%;
			height: 50%;
			padding: 16px;
			border: 10px solid orange;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}
		
/* form stuff */
.form-parent-tbl {
padding:20px;
background : #eaeaea;
-moz-border-radius: 10px;
border-radius: 10px;
}

.form-parent-tbl tr td {
vertical-align:top;
}

.form-title {
font-size:18px;
font-weight:bold;
color:#333;
padding-bottom:20px;
padding-top:1px;
}

.field-group-title {
padding-bottom:10px;
width:300px;
font-weight:bold;
}

#form-errors {
display:none;
background: #ffbbbb;
border:1px #ff4444 solid;
color:#EE3312;
font-size:12px;
padding:7px;
margin-top:7px;
}

.field-line {
padding-bottom:5px;
}

.field-label, .field-txt-value {
padding-top:4px;
min-width:100px;
}
.field-label {text-align:right;}
.field-txt-value {text-align:left;}

.ch-mrk-txt {
font :9px tahoma;
position:relative;
top:-7px;left:0;
}

.field-select {
min-width:250px;
border:1px solid #eaeaea;
}

.expl-txt {font :9px tahoma;
width:300px;
padding:5px 0;
}

.submit-container {
text-align:right;
}		

#cta-message-container {
margin: 75px 0 0 0;
}

.left-nav {
width:190px;
padding-right:15px;
text-align:right;
}

.left-menu-list {
padding:10px 0;
line-height:14pt;
}

.left-menu-item {
line-height:auto;
}

.highlighted-nav-item {
font-weight:bold;
}

.bold-stats {
font-weight:bold;
color:#333;
padding-bottom:5px;
font-size:12pt;
}

.welcome-txt {
padding-bottom: 20px;
}

.next-prev-container {
float:right;
margin-top:10px;
}

#pagination {
padding-top:15px;
text-align:right;
border:none;
}

.layout-table {
vertical-align:top;
}

table.top-selector {
background:#eee;
padding:6px;
margin-bottom:10px;
}

input  {
padding:4px;
}

#dRevenueChart, #dRevenueChart img {
width:100%;
}

/*
GLOBAL STYLE
CSS used throughout Martini site.
2010
*/

body {
text-align:left;
background-color:#e0e0e0;
color:#666666;
font-family:Helvetica, Arial;
font-size:12px;
text-align:center;
padding:0;
margin:0;
overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: scroll;
}

a, a:visited, a:active {
color:#ff6501;
text-decoration:none;
}

a:hover {
color:#ff6501;
text-decoration:underline;
}

input {
vertical-align:top\9;
}

/*
a, a:hover, a:visited, a:active {
color:#343434;
text-decoration:none;
}
*/

img { border-style:none; }
a:active{ outline:none; }
a:focus{ -moz-outline-style: none; }

p {
/* font-family: Georgia, Helvetica, Arial; */
font-family: Helvetica, Arial;
font-size: 12px;
}

#header-bg, #header-bg-sub, #footer-bg, #footer-bg-sub {
position:absolute;
width:100%;
float:left;
}

#header-bg, #header-bg-sub {
z-index:-100;
}

#footer-bg, #footer-bg-sub {
z-index:0;
}

#footer-content {
display:block;
font-size:12px;
padding-top:14px;
padding-bottom:15px;
float:left;
}

#header-bg {
height:62px; /*112px;*/
top:0px;
left:0px;
background-color:#000000;
}

#header-bg-sub {
line-height:8px;
top:62px; /*112px;*/
left:0px;
background-color:#000000;
}

#footer-bg {
line-height:20px;
top:0px;
left:0px;
background-color:#000000;
}

#footer-bg-sub {
line-height:8px;
height:8px;
top:0px;
left:0px;
background-color:#000000;
}

#first-foot-info {
padding-left:45px;
font-family:HelveticaNeue-Bold, Helvetica, Arial;
font-family:'Helvetica Neue';
font-style:bold;
}



#wrapper, #header, #mm-logo, #header-links,
#nav, #color-band, #color-band div, #nav-links, #nav-links a, #nav-links-land, #nav-links-land a,
#main-content, #main-content-alt, #footer, #footer-land, #footer-alt {
float:left;
text-align:left;
}

#centering-table, #centering-table td tr {
width:auto;
width:1072px;
}

#wrapper {
width:1072px;
margin-left:auto;
margin-right:auto;
text-align:left;
}

#header1, #main-content {
padding:6px 45px;
}

#header-liquid {
width:100%;
height:70px;
/*padding:6px 0;*/
}

#header-liquid {
background:#000;
}

#main-content-liquid {
width:96%;
display:block;
min-height:300px;
padding: 10px 0px 0px;
}

#footer-liquid {
padding:0px;
text-align:left;
display:block;
width:100%;
height:53px;
background:#fff;
position:relative;
z-index:10;
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
}

#footer-liquid a {color:#333;}
#footer-liquid a:hover {color:#333;}

#left-column, #right-column {
float:left;
display:inline;
}

#left-column {
margin:0 20px 0 0;
width:731px;
}

#right-column {
width:230px;
}

#footer, #footer-land, #footer-alt {
padding:0px;
text-align:left;
display:block;
width:100%;
position:relative;
z-index:8;
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
}

#footer-land {
position:absolute;
bottom:0px;
color:#FFFFFF;
background:#000000;
}

#footer-land a, #footer-land a:hover, #footer-land a:visited, #footer-land a:active {
color:#FFFFFF;
text-decoration:none;
}

#footer a, #footer a:hover, #footer a:visited, #footer a:active {
color:#343434;
text-decoration:none;
}

#footer {
color:#000000;
background:#FFFFFF;
}

#footer-alt {
color:#000000;
background:#FFFFFF;
}

.first-foot-info {
padding-left:45px;
}

.foot-info {
padding-left:45px;
}

/*#header{
background:#000000;
height:50px;
width:982px;
}*/

#mm-logo {
float:left;
margin-top:2px; /*52px;*/
display:inline;
padding-left:45px;
margin-lefet:45px\9;
}

#header-links {
float:right;
width:300px;
margin-top:23px; /*73px;*/
margin-left:17px;
color:#FFFFFF;
font-size:14px;
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
display:inline;
text-align:right;
}


#header-links a, #header-links a:hover, #header-links a:visited, #header-links a:active {
color:#FFFFFF;
text-decoration:none;
}

a#about-link, a#blog-link {
margin-right:7px;
}
a#contact-link {
margin-right:21px;
}

#color-band, #color-band-liquid {
line-height:8px;
padding:0px;
}

#color-band-liquid {
width:100%;
background:#000;
}

#nav-links, #nav-links-land {
padding-left: 45px;
font-family:Helvetica, Arial;
font-weight:bold;
/*
font-family:HelveticaNeue-Bold, Helvetica, Arial;
font-family:'Helvetica Neue';
font-style:bold;
*/
}

/*
#nav-links-land {
position:relative;
z-index:-20;
}
*/

#nav-links a, #nav-links-land a {
width:136px;
width:146px\9;
font-size:14px;
padding:13px 0px 5px 10px;
}

#nav-links a {
color:#343434;
text-decoration:none;
}

#nav-links a:hover, #nav-links a:active,
#nav-links-land a:hover, #nav-links-land a:active {
color:#FFFFFF;
text-decoration:none;
}

#nav-links-land a {
color:#FFFFFF;
position:relative;
z-index:12;
}

#band-a, #band-b, #band-c, #band-d, #band-e,  #band-f {width:146px;height:8px;float:left;}

#band-a {background:#ff6501;}
#band-b {background:#ee3312;}
#band-c {background:#bc1123;}
#band-d {background:#780023;}
#band-e {background:#541132;}
#band-f {background:#5B1406;}

#menu1:hover {background:#ff6501;}
#menu2:hover {background:#ee3312;}
#menu3:hover {background:#bc1123;}
#menu4:hover {background:#780023;}
#menu5:hover {background:#541132;}
#menu6:hover {background:#5B1406;}

.menu1-selected {background:#ff6501 !important;}
.menu2-selected {background:#ee3312 !important;}
.menu3-selected {background:#bc1123 !important;}
.menu4-selected {background:#780023 !important;}
.menu5-selected {background:#541132 !important;}
.menu6-selected {background:#5B1406 !important;}

.menu1-selected a, .menu2-selected a, .menu3-selected a, .menu4-selected a, .menu5-selected a, .menu6-selected a {
color:#fff;
}

#main-content {
margin-top:30px;
}

#main-content-alt {
margin:0;
padding:0;
}

.sect, .sect-3rds {
margin-bottom:28px;
float:left;
}

.sect {
width:100%;
}

.sect-3rds {
width:230px;
}

#sect-heading, #sect-heading-under, #sect-heading-land {
color:#333333;
font-weight:bold;
}

#sect-heading, #sect-heading-under {
padding-bottom:4px; /*10px;*/
}

#sect-heading-land {
padding: 7px 17px 6px 17px;
border-bottom:1px white solid;
}

#sect-heading, #sect-heading-under {
font-size:24px;
}

#sect-heading-land {
font-size:20px;
}

#sect-heading-under {
border-bottom: #999999 7px solid;
padding-bottom:6px;
}

.sub-heading {
color:#333333;
font-size:16px;
font-family:Georgia, Arial;
font-style:italic;
}	

.sub-heading a{
color:#333;
}

.sub-heading a:hover {
color:#333;
text-decoration:underline;
}

#page-1-liner {
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
font-size:24px;
color:#333333;
margin-bottom:15px;
}

#right-list {
font-size:18px;
color:#333333;
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
}

#right-list a {
color:#333333;
text-decoration:none;
}

#right-list a:hover, #right-list a:active {
color:#FF6501;
text-decoration:none;
}

#right-list ul {
margin:8px 0 0 0;
padding:0px;
}

#right-list li {
padding:5px 0 0 0;
list-style-type:none;
}

#right-list-alt li {
padding:8px 0px 0px 0px;
list-style-type:none;
}

.bt{
width:100px;
height:20px;
padding:0 6px;
background:#666666;
color:#FFFFFF;
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
font-size:12px;
border:none;
cursor:pointer;
}

.disabled-link {
color:#999999;
padding: 5px 0 0;
}

.page-1-liner-spacer{
/* line-height:32px; */
line-height: 16px;
margin:0;
padding:0;
}

.page-3-liner-spacer{
line-height: 71px; /*41px;*/
margin:0;
padding:0;
}

.hn-light-txt{
font-family: HelveticaNeue-Light, Helvetica, Arial;
font-family: 'Helvetica Neue';
font-style:light;
}

/* Scroll Bar Master Styling Starts Here */


.scrollgeneric {line-height: 1px; font-size: 1px; position: absolute; top: 0; left: 0;}

.vscrollerbar {width:13px; padding:10px 0; margin-left: -5px; background-color:#666;} /* should be #333 ? */
.vscrollerbarbeg {height: 6px !important;width: 13px; margin-top:-6px;background: url(../assets/global/scroll.png) 0px 0px no-repeat;}
.vscrollerbarend {height: 6px !important;width: 13px; margin-top:6px;background: url(../assets/global/scroll.png) 0px -7px no-repeat;}

.vscrollerbase {width:13px; margin-left: -5px; background-color:none; } /* should be #CCC */
.vscrollerbasebeg {height: 6px !important;width: 13px; background:none;}
.vscrollerbaseend {height: 6px !important;width: 13px; background:none;}
/* .vscrollerbasebeg {height: 6px !important;width: 13px; background: url(../assets/global/scroll.png) 0px -13px no-repeat;} */
/* .vscrollerbaseend {height: 6px !important;width: 13px; background: url(../assets/global/scroll.png) 0px -19px no-repeat;} */

.scrollerjogbox {
width: 10px;
height: 10px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background-color: gray;
}

.quote-name{
font-family:Helvetica, Aria;
font-weight:bold;
font-size:18px;
margin-top:10px;
color:#333333;
}

.quote-occup{
font-family:Heveltica, Arial;
font-size:12px;
color:#333333;
}

.quote{
font-family:Georgia, Arial;
font-size:14px;
margin-top:10px;
color:#666;
}

.cta-bt{
background:#df4b32;
border-style:none;
border-top:1px #f2b7ad solid;
border-right:1px #f2b7ad solid;
color:#fff;
padding:4px 10px;
color:#fff;
font-family: Helvetica, Arial;
font-size:14px;
/* text-align:left; */
display:block;
float:left;
}

.cta-bt:visited {
color:#fff;
}

.cta-bt:hover {
background:#e46752;
color:#fff;

}

.orange {
color:#f07032;
display:none;
}
.tableheader{
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
     border-top: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    color: #000000;
    font-size: 0.88em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
}
#breadcrumbs {         height:2.7em;         /*border:1px solid #c9c9c9;  width:98%;text-align: left      */ }
#breadcrumbs  {      list-style-type:none;   float:left;         /*line-height:2.7em;*/         color:#777;                  }

#breadcrumbs a {         background: url(../images/breadcrums.jpg) no-repeat right center;              padding:0 15px 0 0;         }

.curvedPanel {
height: 5em;
width: 12em;
-moz-border-radius: 1em 4em 1em 4em;
border-radius: 1em 4em 1em 4em;
}
/*maudi*/
.maudi select
     {
       width:70px;
       border:1px solid #BBB;
       font-size:10pt;
       font-family:arial;
}
.audi
{
    margin:8px 0 0 0;
    padding:0px;
}
#audi {
    font-size:9pt;
    font-weight:bold;
    color:#666;
   text-align:center;
   border-bottom:none;
}
.audi th
{
	margin:0px;
	padding:5px 0 5px 0;
	text-align:left;
	font: bold 12px Arial ;
        color:#666;
        background:#eee;
}
.audi td
{
	
	margin:0px;
	padding:5px 0 5px 0;
	vertical-align:middle;
	font-family: Helvetica,Arial ;
        text-align:right;
        font-size:9pt;
        color:#666;
        border-bottom:1px dotted #BBB;
}
.audi_even
{
	background:#ccc;
	margin:0px;
	padding:5px 0 5px 0;
	vertical-align:middle;
	font: bold 12px Arial ;
        text-align:right;
        color:#000;
}
/*maudi*/

.widget-block {
    width: 49.8%;
    padding: 10px 8px;



}
.fL {
    float: left;
}
.fR {
    float: right;
}
.nR{
	width:100%;
	float:left
}
.clear {
    clear: both;
}
.cL {
    clear: left;
}
.cR {
    clear: right;
}
.grey-box:first-child{margin-top:0;}
.grey-box {
    background-color: #fff;
    border: 1px solid #D2D2D2;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top:24px;
}
.expand {
    min-height: 1%;
    padding-bottom: 10px;
}
.widget-break_new {
    height: 5px;
}
.grey-tile {
	/*background: url("/media/images/grey-tile-bg.jpg") repeat-x scroll left top transparent;*/
	background:#f7f6f6;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    text-align: left;
    font-weight:normal;
}
.mshare-tile {
	background: url("/media/images/grey-tile-bg.jpg") repeat-x scroll left top transparent;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    text-align: left;
    font-weight:bolder;
}
.grey-bar {
    background-color: #E1E0E0;
    border: 1px solid #B9B9B9;
    color: #444346;
    height: 40px;
    position: relative;
    width: 100%;
}
.page {
    padding-bottom: 5px;
}
.main {
    margin: 40 auto;
    width: 95%;
}
div.min-max, span.help {
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin-left: 5px;
    margin-top: 7px;
    width: 16px;
}
div.maximize {
    background: url("/media/images/plus.jpg") no-repeat scroll 0 0 transparent;
}
div.minimize {
    background: url("/media/images/minus.jpg") no-repeat scroll 0 0 transparent;
}

.toggler { width: 500px; height: 200px; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }

ul.yiiPager {
    border: 0 none;
    display: inline;
    font-size: 11px;
    line-height: 100%;
    margin: 0;
    padding: 0;
}
ul.yiiPager li {
    display: inline;
}
ul.yiiPager a:link, ul.yiiPager a:visited {
    border: 1px solid #9AAFE5;
    color: #0E509E;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: none;
}
ul.yiiPager .page a {
    font-weight: normal;
}
ul.yiiPager a:hover {
    border: 1px solid #0E509E;
}
ul.yiiPager .selected a {
    background: none repeat scroll 0 0 #2E6AB1;
    color: #FFFFFF;
    font-weight: bold;
}
ul.yiiPager .hidden a {
    border: 1px solid #DEDEDE;
    color: #888888;
}
ul.yiiPager .first, ul.yiiPager .last {
    display: none;
}
.Pagination-innercont {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 1px 0;
    height:30px;
}
.colB {
    color: #3399FF;
}

.bcolC {
    background: #E0E0E0;
}

.paginationtable {
    border-bottom: 1px solid #D7D7D7;
    border-left: 0 solid #D7D7D7;
    border-top: 2px solid #D7D7D7;
    width: 100%;
}
.paginationtableth {
	border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    color: #000000;
    font-size: 0.88em;
    font-weight: bold;
    text-transform: uppercase;
}
.txtAlignC {
    text-align: center;
}

.paginationtablecell {

    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    color: #444346;
    text-align: center;
}
.dataTables_length{
	width:100%
}
.breadcrumbs{
	text-align: left;
	width:100%
}
	
.filter-header {
    background: none repeat scroll 0 0 #E0E0E0;
    margin: 10px 0 1px;
    padding: 2px 0 0;
    color: #444346;
    text-align: left;
}
.filter-innercont{
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    padding: 0px 0;
    border-bottom:1px solid #bfcec6;
    float:left;
    width:100%;
    height:100%;
    color:#444346;
    line-height:40px;
}
.colB {
    color: #3399FF;
}
.bcolC {
    background: none repeat scroll 0 0 #E0E0E0;
    color: #444346;
    /*padding:10px;*/
}
#errordiv{
text-align: center;
background-color: #f6f6f6;
color: #FF0000
}
.error_img
{
width :250px;
height : 50px;
background: url('../images/error.png') right top no-repeat;
}
div.smallish-progress-wrapper
{ /* Don't change the following lines. */ position: relative; border: 1px solid #999;
   background:#EEEEEE;
}
div.smallish-progress-bar
{ /*
 Don't change the following lines. */ position: absolute; top: 0; left: 0; height: 100%;

}
div.smallish-progress-text
{ /* Don't change the following lines. */ text-align: center; position: relative; /* Add your customizations after this line. */ }
div.smallish-progress-textcolor
{
 text-align: center; position: relative;font-color:#EA9FDF;	
}
.button_image
{
	width:60px;
	height:15px;
	border:none;
	font-color:#fff;
	text-align:center;
	background: url('../images/button.png') left top no-repeat;
}
.status{
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #D6D6D6;

}
.campaign_button_image
{
	width:70px;
	height:15px;
	border:none;
	font-color:#fff;
	text-align:center;
	background: url('../images/campaign_button.png') left top no-repeat;
}
.thumb_img
{
	width :30px;
	height : 30px;
	background: url('../images/martinimedia_icon.png') left top no-repeat;	
}
#CampaignPacingData
{
	overflow-x:scroll;
}
#DaasMenu ul
{
	list-style:none;
	margin-left:30px;
	width:150px;
	height:300px;
	
}
#DaasMenu li
{
	margin-left:20px;
	list-style:none;
	width:200px;
	padding-bottom:15px;
	cursor:pointer;
	font:tahoma;
	font-size:13px;
	
}
#DaasMenu li a
{
	padding-left:40px;
	padding-top:25px;
	color:#000;
	width:200px;
}
.DaasMenu_img
{
	background: url('../images/Daasmenu.png') left top no-repeat;
	height:25px;	
	width:200px;
}
a.button{
    color:#FF6C0A;
    padding:5px 20px;
    text-shadow:1px 1px 0 #000000;
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    border:1px solid #AAAAAA;
    float:left;
    clear:both;
    /*
        CSS3 gradients for webkit and mozilla browsers fallback color for the rest:
    */

    background-color: #000000;
/*    background-image: -moz-linear-gradient(#000000, #000000);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#000000));*/
    /*box-shadow:3px 3px 3px #000000;
    -moz-box-shadow:3px 3px 3px #000000;
    -webkit-box-shadow:3px 3px 3px #000000;*/
    border:0px solid #000000;
/*    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;*/
}

a.button:hover{
    /* Lighter gradients for the hover effect */
    text-decoration:none;
    color:white;
/*    background-color: white;	
    background-image: -moz-linear-gradient(white, white);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6C0A), to(#FF6C0A));
    box-shadow:3px 3px 3px #333;
    -moz-box-shadow:3px 3px 3px #333;
    -webkit-box-shadow:3px 3px 3px #333;*/
}

.inputs  {
height:24px;
border: 1px solid #bcbcbc;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
width:150px;
color:#222222;
font-size: 12px !important;
}
 .inputs:focus {
border-color: #BBB;
outline: none;
}


.css_button {
    font-size: 12px;
    font-family:arial !important;
    font-weight:normal;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d83526;
    padding: 1px 15px;

    -moz-box-shadow:inset 0 0 3px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow:inset 0 0 3px rgba(255, 255, 255, 0.6);
    box-shadow:inset 0 0 3px rgba(255, 255, 255, 0.6);
    font-weight:normal;
    text-decoration:none;
    cursor: pointer;
    background:-webkit-linear-gradient(90deg, #d34639 5%, #fa665a 100%);
    background:-moz-linear-gradient(90deg, #d34639 5%, #fa665a 100%);
    background:-ms-linear-gradient(90deg, #d34639 5%, #fa665a 100%);
    background:linear-gradient(180deg, #fa665a 5%, #d34639 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
    /*background-color:#d34639;*/
    color:#ffffff;
    display:inline-block;
    height:25px;
    line-height: 21px;
}
.css_button:hover {
    background:-webkit-linear-gradient(90deg, #fa665a 5%, #d34639 100%);
    background:-moz-linear-gradient(90deg, #fa665a 5%, #d34639 100%);
    background:-ms-linear-gradient(90deg, #fa665a 5%, #d34639 100%);
    background:linear-gradient(180deg, #d34639 5%, #fa665a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
    /*background-color:#fa665a;*/
}
.css_button:active {
    position:relative;
    top:1px;
}
  /* This css button was generated by http://html-generator.weebly.com */

.ui-tabs.ui-widget-content{border:none; background:none; padding:0;}
.ui-tabs-nav.ui-widget-header{background:none;border:none; border-radius:0;-webkit-border-radius:0;-o-border-radius:0;}
.ui-tabs-panel.ui-widget-content{background:#f6f6f6; border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6; padding:0;}
.ui-tabs .ui-state-default{background:#e0e0e0;}
.ui-tabs .ui-state-active{background:#fff; color:#1B75A6 !important;}
.ui-tabs .ui-state-active a{color:#1B75A6 !important;}
.controlWidth{width:96%; margin:0 auto;}

.avgHits {
    float: right;
    /*width: 25px;*/
    line-height: normal;
    font-size: 10px;
    text-align: center;
    margin-right:10px;
    margin-top:7px;

}

.avgHitsImg {
    width:20px;  margin-right:5px; float:left;

}
.DropDown-Navi{min-width:200px;width:auto; position:absolute; top:80%; background:#383838; border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;-moz-border-radius:8px; padding:8px; color:#282828; font-size:13px; display:none;}
.DropDown-Navi li{width:100%; float:left; line-height:22px; background:#777; margin-top:1px;}
.DropDown-Navi li:first-child{margin-top:0;}
.DropDown-Navi li a{width:100%; padding:0 11px; color:#282828 !important;font-weight:normal !important;float:left; margin:0 !important; border-radius:0 !important;-o-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;}
.DropDown-Navi li:hover a{background:#ed786a !important; color:#222 !important;}
.DropDown-Navi li:hover ul{display:block;}
.DropDown-Navi li:hover li a{background:transparent;}

.DropDown-Navi ul{left:100%; display:none; top:0;}
.DropDown-Navi li li:hover a{background:#ed786a;}

.filterContainer{
    width:100%;
    lineheight:40px;
    height:40px;
    background:#ededed;
    border-bottom:1px solid #fff;
    }

    .prog {
        width:100px;
        height:14px;
        border:1px solid #808080;
        float:right;
        margin-top: 6px;
    }
    .positive {
        width:0%;
        height:12px;
        background-color:#00FF80;
        line-height:13px;
        font-size:9.5px;
    }
    .negative {
        width:0%;
        height:12px;
        background-color:#ED5F15;
        line-height:13px;
        font-size:9.5px;
    }

span.info {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #A0A0A0;
  line-height: 16px;
  color: black;
  font-size: 8px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  margin-top: 6px;
  margin-right: 3px;
  margin-left: 1px;
}
span.info:hover { background-color: #AAAAAA; }
div.tooltip {
  background-color: #AAAAAA;
  color: black;
  position: absolute;
  font-size: 6px;
  right: 5px;
  top: 20px;
  z-index: 1000;
  width: 250px;
  border-radius: 5px;
}
div.tooltip p {
  margin: 2px;
  color: black;
}

