{% extends "base.html" %}

{% block page_title %}
<title>DNS Analytics :: Business Object</title>
{% endblock %}

{% block filter %}

{% endblock %}

{% block content_holder %}
<div ng-app="myApp" ng-controller="MyCtrl">
    <div style="float:left;clear:both;">
    <h5>Business Objects</h5>
    <select data-ng-options="o.name for o in options" data-ng-model="selectedOption"
                            ng-change="LoadGrid()" style="margin-left:25px;"></select>
        <div>
        <h5>Dimensions</h5>
            <div ng-show="type=='DNSLog'" ng-repeat="f in fields.slice(0,3)" >
                <input type="checkbox" ng-model="f.visible" />
                <span ng-bind="f.field"></span>
            </div>
            <div ng-show="type=='Omniture'" ng-repeat="f in fields.slice(0,5)" >
                <input type="checkbox" ng-model="f.visible" />
                <span ng-bind="f.field"></span>
            </div>
        </div>

        <div>
            <h5>Measures</h5>
            <div ng-show="type=='DNSLog'" ng-repeat="f in fields.slice(3,6)" >
                <input type="checkbox" ng-model="f.visible" />
                <span ng-bind="f.field"></span>
            </div>
            <div ng-show="type=='Omniture'" ng-repeat="f in fields.slice(5,8)" >
                <input type="checkbox" ng-model="f.visible" />
                <span ng-bind="f.field"></span>
            </div>
        </div>
        <input id="btnLoad" class="css_button" type="button" style="display:none" value="Go" ng-click="LoadGrid()" />
</div>

<div class="gridStyle" ng-grid="gridOptions" style="float:right;align:top;display:block;height:550px;width:85%"></div>
<div style="float:right;align:top;display:block;width:85%"><b>* Grouping/Aggregation applies to dimension columns only.</b></div>
<div>

</div>
</div>

{% endblock %}

{% block script_media %}
<script src="../media/js/angular/angular.min.js"></script>
<script src="../media/js/jquery.min.js"></script>
<script src="../media/js/angular/ng-grid-2.0.11.min.js"></script>
<script src="../media/js/angular/aggregate.js"></script>
<link rel="stylesheet" type="text/css" href="../media/css/ng-grid.min.css" />
<link rel="stylesheet" type="text/css" href="../media/css/ng-style.css" />
<script src="../media/js/d3.min.js"></script>
<script type="text/javascript" src="../media/js/main.js"></script>

{% endblock %}
