<!DOCTYPE HTML>
<html>
	<head>
{% block page_title %}
		<title>DNS Analytics</title>
{% endblock %}
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" /> -->
		<script src="/media/js/jquery.min.js"></script>
		<script src="/media/js/config.js"></script>
		<script src="/media/js/skel.min.js"></script>
		<script src="/media/js/jquery.dropotron.min.js"></script>
		
		<link rel="stylesheet" href="/media/css/skel-noscript.css" />
		<link rel="stylesheet" href="/media/css/style.css" />
		<link rel="stylesheet" href="/media/css/style-desktop.css" />
                  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                  <link rel="stylesheet" href="/media/css/newstyle.css" />
		<noscript>
			<link rel="stylesheet" href="/media/css/skel-noscript.css" />
			<link rel="stylesheet" href="/media/css/style.css" />
			<link rel="stylesheet" href="/media/css/style-desktop.css" />
		</noscript>

                {% block css_media %}
                {% endblock %}
	</head>
	<body>
	<div class="Containers">
	        {% block logo%}

	        {% endblock %}
		<!-- Nav -->
		{% block menu%}		
		

                        <nav id="nav">
                                <div class="controlWidth">
                        <a class="logo" href="/" ><!-- <img src='/media/images/LogoGroup.png' style="height:40px;" />--> </a>
                            <ul id="navul">
                                <li class="active"><a class="fa fa-bar-chart-o" href="/"><span>Dashboard</span></a></li>
                                <li><a class="fa fa-sitemap" href="/individual/"><span>Individual Reports</span></a></li>
                                <li><a class="fa fa-sitemap" href="#"><span>Reports</span></a>
                                    <ul class="DropDown-Navi">
                                        <li><a href="/domaincloud/">Domain Cloud View </a></li>
                                        <li><a href="/zoomabletree/">Category Tree View</a></li>
					<li><a href="/comparisionview/">Skype vs Lync</a></li>
					<li><a href="/linear/">DNS Hits Prediction</a></li>
					<li><a href="/toyprediction/">Toys-Sales Prediction</a></li>
                                    </ul>
                                </li>
                                <li><a class="fa fa-sitemap" href="/angular/"><span>Business Object Report</span></a></li>
                                <li><a class="fa fa-cog" href="/help/"><span>Help</span></a></li>
                            </ul>
</div>
                        </nav>

		{% endblock %}
		<!-- Home -->
			<div class="wrapper wrapper-style1 wrapper-first" style="padding: 0em 0;">

				<article class="" id="top">
				<div id="main-content-liquid" style="width:100%; margin: 58px 0px 0px 0px;">
				{% block filter %}
				    <div style="width:100%;padding-bottom:10px;">
                                        	<div class="filter-innercont">
                                                    <div class="bcolC colB">
                                        		<table cellpadding="4" cellspacing="2">
                                        	            	<tr>
                                        	            	    <td width="10px"> </td>
                                        	            	    <td>
                                        	            	        <label id="lbldashboard-date" for="dashboard-date">Date</label>
                                        	            	    </td>
                                        	            	    <td width="5px"></td>
                                        	        		    <td align="center" valign="middle">
                                        	        		        <input type="text" class="inputs" id="dashboard-date" name="dashboard-date" readonly="readonly" />
                                        			    </td>
                                        			    <td width="10px"></td>
                                        			    <td align="center" valign="middle">
                                        			       <input id="btnLoad" class="css_button" type="button" value="submit" />
                                                                    <td align="right" class="min-max-minimize" id="min-max-button"  />

                                        			    </td>
                                                               </tr>
                                        		</table>
                                        	   </div>
                                                </div>
                                            </div>
				{% endblock %}
				{% block content_holder%}

				{% endblock %}
				</div>
				</article>

			</div>	
		</div>	
		<!-- Contact -->
		{% block footer %}
		<footer>
                    <div class= "footer" class="container.small" style="background-color: #303030; text-align: center; color: #999999; height: 40px; line-height:40px; width: 100%; font-size: small; float: left; botttom: 0; position: relative; text-shadow: -1px -1px 0 #181818;">
                      <p class="legal">
                         &copy;2014 TigmaData. All Rights Reserved.</p>
                     <!--&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                     Design by <a href="http://fotogrph.com">fotogrph</a>
                     &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                     Icons by <a href="http://html5up.net/">HTML5.UP</a>-->
                    </div>
                </footer>
                {% endblock %}
	       <script type="text/javascript">
                    $(function(){
                        var d = new Date();
                        var curr_year = d.getFullYear();

                        $( "#dashboard-date" ).datepicker({
                           yearRange: '2014:' + curr_year,
                           changeMonth: true,
                           changeYear: true,
                           minDate: new Date(2014, 4 - 1, 10),
                           maxDate: '-1d',
                           showButtonPanel: true,
                           dateFormat: 'yy-mm-dd',
                        });
                        $("#dashboard-date").datepicker('setDate', '{{report_date}}');

                        $("#dashboard-date").datepicker({
                            onSelect: function(date) {
                                alert(date);
                            },
                        });
                    });
	       </script>
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
                <script src="/media/js/dnslog.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['trackGoal', 1]);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webanalytics.smartek.co.in/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

                {% block script_media %}
                {% endblock %}

	</body>
</html>
