{% extends "base.html" %}

{% block page_title %}

{% endblock %}

{% block content_holder %}

<div id="page_title" style="padding: 5em 0; height: 10px; text-align:center; margin: 0px 0px -37px 0px">
    <h4 style="font-family: Open Sans, serif; ">
	Bytes Downloaded Report</h4>
</div>

<div id="piechart" style="display:inline-block; margin: -9px 0px 0px 350px"> </div>
<div id="legentdiv" style="display:inline-block;v-align:middle;"> </div>

{% endblock %}

{% block script_media %}
<script src="../media/js/d3.min.js"></script>
<script>
$( document ).ready(function() {
loadchart();
});
function loadchart()
{
$('#piechart').empty();
$('#legentdiv').empty();
var date = $('#dashboard-date').val()
date = date.replace('/', '-').replace('/','-')
var width = 460,
    height = 400,
    radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(["#98abc5", "#B2FA4C","#8a89a6", "#A06404","#5C6805", "#6b486b",
            "#a05d56", "#d0743c", "#ff8c00", "#42FAD2", "#F54616", "#0570A6", "#CF9C04"]);

var arc = d3.svg.arc()
    .outerRadius(radius - 5)
    .innerRadius(radius - 100);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.per; });

var svg = d3.select("#piechart").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json("/BytesDownload/" + date, function(error, data) {

  data.forEach(function(d) {
    d.per = +d.per;
  });

 var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.domainname); });

   g.append("text")
        .attr("dy", ".35em")
        .attr("text-anchor", "middle")
        .attr("font-size", "14px")
        .attr("fill", "#605e5f")
        .style("font-weight", "bold")
        .text("Bytes download/day");

  g.append("text")
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      .attr("dy", ".15em")
      .style("text-anchor", "middle")
      .style("font-size", "8px")
      .style("font-weight", "bold")
      .text(function(d) { return d.data.per + "%" ; });

  var legend = d3.select("#legentdiv").append("svg")
      .attr("class", "legend")
      .attr("width", radius * 2)
      .attr("height", radius * 2)
    .selectAll("g")
      .data(color.domain().slice().reverse())
    .enter().append("g")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("font-size", "14px")
      .text(function(d) { return d; });

});
}
</script>
{% endblock %}
