{% extends "base.html" %}

{% block page_title %}

<title> DNS Analytics :: Skype vs Lync</title>
{% endblock %}

{% block css_media %}
<style type="text/css">

.bullet { font: 10px sans-serif;position: relative; left: 30px; font: 10px sans-serif; left: 30px; padding: 0 0 0 10px; text-indent: 10px; }
.bullet .marker { stroke: blue; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: 2px; }
.bullet .range.s0 { fill: #cae88c; }
.bullet .measure.s0 { fill: #ea91bd; }
.bullet .title { font-size: 10px;margin-top:2px;}
.bullet .subtitle { font-size: 8px fill: #ffff }

</style>
{% endblock %}

{% block filter %}
<form method="POST" action="/comparisionview/"> {% csrf_token %}
    <div style="width:100%;padding-bottom:10px;">
        <div class="filter-innercont">
            <div class="bcolC colB">
                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td width="10px"> </td>
                        <td>
                            <label id="lbldashboard-date" for="dashboard-date">Date</label>
                            <input id="employeedata" type="hidden" value= '{{result}}' />
                        </td>
                        <td width="5px"></td>
                        <td align="center" valign="middle">
                            <input type="text" class="inputs" id="dashboard-date" name="dashboard-date" value='{{report_date}}' />
                        </td>
                        <td width="10px"></td>
                        <td align="center" valign="middle">
                            <input id="btnLoad" class="css_button" type="submit" value="submit" />
                        </td>
                    </tr>
                </table>
            </div>
         </div>
    </div>
</form>
{% endblock %}


{% block content_holder %}
<div>
<div id="comparisonSkypeLync-expand" style="display: inline-block; padding:5px; width:100%">
        <div class="widget-block fL">
            <div class="grey-box">
                <h4 class="grey-tile" title="OddWidget">
                <div class="min-max minimize" id="OddWidget-button" onClick='toggle("OddWidget");'>
                </div>
                    <img src="/media/images/skype.jpg" alt="" />
                </h4>
                <div id="OddWidget-expand" style="display: block;">
                    <div id="OddWidget" style="padding:5px">
                        <div id="OddWidget" style="width: 100%"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-block fR">
            <div class="grey-box">
                <h4 class="grey-tile" title="EvenWidget">
                    <div class="min-max minimize" id="EvenWidget-button" onClick='toggle("EvenWidget");'>
                    </div>
                    <img src="/media/images/lyncs.jpg" alt="" />
                </h4>
                <div id="EvenWidget-expand" style="display: block;">
                    <div id="EvenWidget" style="padding:5px">
                        <div id="EvenWidget"> </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>



<div class="widget-block fL">
    <div class="grey-box">
        <h4 class="grey-tile" title="comparisionPie">
            <div class="min-max minimize" id="comparisionPieChart-button" onClick='toggle("comparisionPieChart");'>
            </div>
            <b>Skype Vs Lync Consolidated chart</b>
        </h4>
        <div id="comparisionPieChart-expand" style="display: block;">
            <div id="comparisonPieChart" style="padding:5px">
                <div id="comparisionPie" style="width: 100%"> </div>
            </div>
        </div>
    </div>
    <div class="widget-break" style="height: 5px;clear:both:float:left"></div>
</div>
{% endblock %}


{% block script_media %}


<script src="/media/js/d3.min.js"></script>
<script src="/media/js/dimple.v2.0.0.min.js"></script>
<script src="/media/js/bullet.js"></script>
<script>
$( document ).ready(function() {
    ComparisonPieChart();
    individualComparisonChart();



});

$("#btnLoad").click(function() {
    ComparisonPieChart();
    individualComparisonChart();
javascript:_paq.push(['trackEvent', 'Submit Button', 'Skype vs Lync Report', 'Skype vs Lync Report']);


});


function ComparisonPieChart()
{
$('#comparisionPie').empty();
var date = $('#dashboard-date').val()
date = date.replace('/', '-').replace('/','-')

var width = 350,
    height = 350,
    radius = Math.min(width, height) / 2;
//color = d3.scale.category20c();    //builtin range of colors
var color = d3.scale.ordinal()
                .range(["#D5F4F7", "#00BFFF"]);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.value; });

var svg = d3.select("#comparisionPie").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


d3.json("/getcomparision/" + date, function(error, data) {

  data.forEach(function(d) {
    d.value = +d.value;
  });

  var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.label); });

  g.append("text")
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .style("text-anchor", "middle")
      .text(function(d) { return (d.data.label + "\n:" + d.data.value + "%"); });

        var legend = d3.select("#comparisionPie").append("svg")
                            .attr("class", "legend")
                            .attr("width", (radius * 2) - 190)
                            .attr("height", (radius * 2) -20)
                            .attr("style","padding-top:20px;")
                            .selectAll("g")
                            .data(color.domain().slice().reverse())
                            .enter().append("g")
                            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", color);

        legend.append("text")
                .attr("x", 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .style("font-size", "14px")
                .text(function(d) { return (d); });

});
}

function getEmpPhotoNameIp(photo,emp_id,empName)
{
    photo = photo.trim();
    console.log(photo.length);
if ((photo.substring(photo.length - 4) == ".jpg") || (photo.substring(photo.length - 4) == ".JPG") || (photo.substring(photo.length - 5) == ".jpeg") || (photo.substring(photo.length - 5) == ".JPEG") )
    {

    return "<span class='ip_place'><img src='/media/images/emp_pics/" + photo + "' title='"+ emp_id+ " - "+ empName+"' height='auto' width='60'/></span>";
    }
else {
    return "<span class='ip_place'>" +photo + "</span>";
    }
}

function individualComparisonChart()
{
    var empdata = jQuery.parseJSON(unescape($('#employeedata').val()));
     if (Object.keys(empdata).length === 0) {
        $("#comparisonSkypeLync-expand").empty();
        var nodata = "No data found"
        var divHTML = "<center><b><h3>"+nodata+ "</h3></b></center>";
            divHTML += "</h4>";
        $("#comparisonSkypeLync-expand").append(divHTML);
    }
    else
    {
    for (var i = 0; i < 10; i++) {
        barChartId = "barchart" + i;
        var emp_id = empdata[i]['empid'];
        var photo = empdata[i]['photo']
        var empName = empdata[i]['empName'];
        var domain = empdata[i]['domain'];
        var divHTML = "<div class='ipimg_bullet'>";
            divHTML += getEmpPhotoNameIp(photo,emp_id,empName);
            console.log(getEmpPhotoNameIp(photo,emp_id,empName));
            divHTML += "<span id='"+barChartId+"' style='width: 100%'> </span>";
            divHTML += "</div>";
        if (domain == 'Skype') {
            $("#OddWidget").append(divHTML);
       } else {
            $("#EvenWidget").append(divHTML);
       }
        appendChart(emp_id,domain, barChartId);
    }
}
}

function appendChart(empid,domain, barChartId) {

var date = $('#dashboard-date').val()
date = date.replace('/', '-').replace('/','-')
var margin = {top: 10, right: 40, bottom: 20, left: 60},
    width = 400,
    height = 30;

var chart = d3.bullet()
    .width(width)
    .height(height);

d3.json("/individualcomparision/"+domain+ "/"+empid+ "/"+ date, function(error, data) {
var svg = d3.select("#" +barChartId).selectAll("svg")
      .data(data)
    .enter().append("svg")
      .attr("class", "bullet")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(chart);


  var title = svg.append("g")
      .style("text-anchor", "end")
      .attr("transform", "translate(-1," + ((height / 2)+4)  + ")");

  title.append("text")
      .attr("class", "title")
      .text(function(d) { return d.title; });

  title.append("text")
      .attr("class", "subtitle")
      .attr("dy", "1em")
      .text(function(d) { return d.subtitle; });

});

function randomize(d) {
  if (!d.randomizer) d.randomizer = randomizer(d);
  d.ranges = d.ranges.map(d.randomizer);
  d.markers = d.markers.map(d.randomizer);
  d.measures = d.measures.map(d.randomizer);
  return d;
}

function randomizer(d) {
  var k = d3.max(d.ranges) * .2;
  return function(d) {
    return Math.max(0, d + k * (Math.random() - .5));
  };
}
}
    </script>
{% endblock %}
