{% extends "base.html" %}

{% block page_title %}
<title>DNS Analytics :: Domain Cloud</title>
{% endblock %}

{% block content_holder %}
<div style="width:100%">
    <div id="page_title" style="padding: 5em 0; height: 10px; text-align:center; margin: 0px 0px -38px 20px">
	<h4 style="font-family: Open Sans, serif; font-size:20px">
	    Hits - Domain Cloud</h4>
     </div>
<div id="domaincloud" style="display:inline-block; margin: 0px 0px 0px 200px"> </div>

</div>
{% endblock %}

{% block script_media %}
<script src="/media/js/d3.min.js"></script>
<script src="/media/js/d3.layout.cloud.js"></script>
<script>
$( document ).ready(function() {
loadchart();
});

$("#btnLoad").click(function() {
    loadchart();
javascript:_paq.push(['trackEvent', 'Submit Button', 'Domain Cloud', 'Domain Cloud']);
});

function loadchart()
{
$('#domaincloud').empty();
var date = $('#dashboard-date').val()
date = date.replace('/', '-').replace('/','-')

d3.json("/getdomaincloud/" + date, function(error, frequency_list) {
    var fill = d3.scale.category20();
    var fontSize = d3.scale.log().range([10, 100]);

    d3.layout.cloud().size([900, 500])
            .words(frequency_list)
            .padding(1)
            .rotate(0)
            .font("Impact")
            .fontSize(function(d) { return setfontsize(d.per); })
            .on("end", draw)
            .start();

    function draw(words) {
        d3.select("#domaincloud").append("svg")
                .attr("width", 900)
                .attr("height", 500)
                .attr("class", "wordcloud")
                .append("g")
                .attr("transform", "translate(320,200)")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function(d) { return setfontsize(d.per) + "px"; })
                .style("fill", function(d, i) { return fill(i); })
                .style("font-weight", "bold")
                .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function(d) { return d.domainname; });
    }

    function setfontsize(per)
    {
        a = per
        if(a*10 > 50)
            return (per*10)/2
        return per*10
    }

});

}
</script>
{% endblock %}
