
{% extends "base.html" %}
{% block page_title %}
<title>DNS Analytics :: Help</title>
{% endblock %}

{% block filter%}
{% endblock %}
{% block content_holder%}
<div style="padding: 10px;">
<h3>Hits Report</h3>
<p>This report displays the top 10 domains that has more hits.
    <br><b>Measures:</b>
    <br>1-9 domain names displayed will be dynamic depending upon the usage.
    <br>Ip address will displayed if domain name is not found.
    <br><b>Others:</b>
    <br>Except the top 9 most viewed ip addresses, the remaining ip addresses are grouped as Others.</p>
<h3>Bytes Download Report</h3>
<p>This report displays the download percentage from different sites.
    <br><b>Measures:</b>
    <br>1-9 domain names displayed will be dynamic depending upon the usage.
    <br>Ip address will displayed if domain name is not found.
    <br><b>Others:</b>
    <br>Except the top 9 most viewed ip addresses, the remaining ip addresses are grouped as Others.</p>
<h3>Bubble Report</h3>
<p>A bubble chart is used to visualize a data set with two to four dimensions.
    <br>The first two dimensions are visualized as coordinates, the third as color and the fourth as size.
    <br>Displays tips when hovering over bubbles.</p>
<h3>Cloud Report</h3>
<p>A domain cloud is a stylized way of visually representing the domain names that has been visited most recently.
    <br>The most popular and recently viewed domains are normally highlighted in a larger, bolder font.</p>
<h3>Consolidated Category Hits</h3>
<p>This report displays the top 10 categories that has more hits.
    <br>Displays categry name and its usage percent when hovering over bars.</p>
<h3>Last 7 Days - Consolidated Hits</h3>
<p>This report displays the count of consolidated hits for the last 7 days.
    <br>Displays count of total hits for each date when hovering over line</p>
<h3>Individual Reports</h3>
<p>This report displays the hits percent and category percent of an individual users.
    <br><b>Hits:</b>
    <br>This report displays the top 10 domains that has more hits of an individual users.
    <br><b>Category:</b>
    <br>This report displays the top 10 categories that has more hits of an individual users.</p>
<h3>Category Tree View</h3>
<p>This report displays the top 10 categories and top 10 domains of each categories along with their usage percentage.</p>

{% endblock %}

