{% extends "base.html" %}

{% block page_title %}

{% endblock %}

{% block content_holder %}
<div style="width:100%">
    <div id="page_title" style="padding: 5em 0; height: 10px; text-align:center; margin: 0px 0px -38px 20px">
	<h4 style="font-family: Open Sans, serif; ">
	    Consolidated Hits Report</h4>
     </div>
<div id="bubblechart" style="display:inline-block; margin: 0px 0px 0px 200px"> </div>

</div>
{% endblock %}

{% block script_media %}
<script src="../media/js/d3.min.js"></script>
<script>
$( document ).ready(function() {
loadchart();
});

$("#btnLoad").click(function() {
    loadchart();
});

function loadchart()
{
$('#bubblechart').empty();
var date = $('#dashboard-date').val()
date = date.replace('/', '-').replace('/','-')

var width = 560,
    height = 450,
    radius = Math.min(width, height) / 2;

var color = d3.scale.quantize()
    .range(["#98abc5", "#B2FA4C","#8a89a6", "#A06404","#5C6805", "#6b486b","#a05d56", "#d0743c", "#ff8c00", "#42FAD2", "#000000", "#FFFF00", "#808000"]);

var size = 460;

var pack = d3.layout.pack()
    .sort(null)
    .size([size, size])
    .value(function(d) { return setradius(d.per,d.domainname); })
    .padding(5);

var svg = d3.select("#bubblechart").append("svg")
    .attr("width", size)
    .attr("height", size);

d3.json("/bubblechart/" + date, function(error, data) {

  color.domain(d3.extent(data, function(d) { return d.per; }));

  svg.selectAll("circle")
      .data(pack.nodes({children: data}).slice(1))
    .enter().append("circle")
      .attr("r", function(d) { return setradius(d.per, d.domainname); })
      .attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; })
      .style("fill", function(d,i) { return color(i); })
    .append("title")
      .text(function(d) {
        return d.domainname + "\n Hits%: " + d.per
      });
});

function setradius(per,domain)
{
    a = per
    if(domain != "Others")
        return a * 5
    return per
}


d3.select(self.frameElement).style("height", size + "px");
}
</script>
{% endblock %}
{% block footer %}
<div class="wrapper-style4">
                           <footer>
			<nav id="nav1" >
				<ul id="copyright">
							<li>&copy; 2013 Smartek21 </li>
							<li><a href="http://fotogrph.com">fotogrph</a></li>
							<li><a href="http://html5up.net/">HTML5 UP</a></li>
						</ul>
			</nav>
                           </footer>
                           </div>
{% endblock%}