{% extends "base.html" %}

{% block page_title %}
<title>DNS Analytics :: Home</title>
{% endblock %}

{% block css_media %}

{% endblock %}

{% block content_holder %}

<div class="widget-block fL">
    <div class="grey-box">
        <h4 class="grey-tile" title="consolidatedHitsChart">
            <div class="min-max minimize" id="consolidatedHits-button" onClick='toggle("consolidatedHits"); javascript:_paq.push(["trackEvent", "DashBoard Usage", "DashBoard Reports Usage", "Consolidated Hits"]);'>
            </div>
            <b> :: Consolidated Hits</b>
        </h4>
        <div id="consolidatedHits-expand" style="display: block;">
            <div id="consolidatedHits" style="padding:5px">
                <div id="consolidatedHitsChart" style="width: 100%"> </div>
            </div>
        </div>
    </div>

    <div class="grey-box">
        <h4 class="grey-tile" title="consolidatedCategory">
            <div class="min-max minimize" id="consolidatedCategory-button" onClick='toggle("consolidatedCategory"); javascript:_paq.push(["trackEvent", "DashBoard Usage", "DashBoard Reports Usage", "Consolidated Category Hits"]); '>
            </div>
            <b> :: Consolidated Category Hits</b>
        </h4>
        <div id="consolidatedCategory-expand" style="display: block;">
            <div id="consolidatedCategory" style="padding:5px">
                <div id="consolidatedCategoryChart"> </div>
            </div>
        </div>
    </div>

    <div class="grey-box">
        <h4 class="grey-tile" title="bubblechart">
            <div class="min-max minimize" id="bubblechart-button" onClick='toggle("bubblechart"); javascript:_paq.push(["trackEvent", "DashBoard Usage", "DashBoard Reports Usage", "Bubble Chart - Domain Distribution"]); '>
            </div>
            <b> :: Bubble Chart - Domain Distribution</b>
        </h4>
        <div id="bubblechart-expand" style="display: block;">
            <div id="bubblechart" style="padding:5px">
                <div id="bubblechartChart" style="width: 50%"> </div>
            </div>
        </div>
    </div>
</div>

<div class="widget-block fR">
    <div class="grey-box">
        <h4 class="grey-tile" title="bytesDownloadedChart">
            <div class="min-max minimize" id="bytesDownloaded-button" onClick='toggle("bytesDownloaded"); javascript:_paq.push(["trackEvent", "DashBoard Usage", "DashBoard Reports Usage", "Downloaded Bytes"]);'>
            </div>
            <b> :: Downloaded Bytes</b>
        </h4>
        <div id="bytesDownloaded-expand" style="display: block;">
            <div id="bytesDownloaded" style="padding:5px">
                <div id="bytesDownloadedChart" style="width: 100%"> </div>
            </div>
        </div>
    </div>

    <div class="grey-box">
        <h4 class="grey-tile" title="consolidatedTrendChart">
            <div class="min-max minimize" id="consolidatedTrend-button" onClick='toggle("consolidatedTrend"); javascript:_paq.push(["trackEvent", "DashBoard Usage", "DashBoard Reports Usage", "Last 7 Days - Consolidated Hits"]);'>
            </div>
            <b> :: Last 7 Days - Consolidated Hits</b>
        </h4>
        <div id="consolidatedTrend-expand" style="display: block;">
            <div id="consolidatedTrend" style="padding:5px">
                <div id="consolidatedTrendChart" style="width: 100%"> </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_media %}
<script src="/media/js/d3.min.js"></script>
<script src="/media/js/dimple.v2.0.0.min.js"></script>
<script>

var rangeColor = ["#877bb9","#bd81b7", "#a292d6", "#fbacab", "#fcc895","#fee087", "#fff89c", "#97e5b3", "#abe1fa", "#cae88c"];

$( document ).ready(function() {
    consolidatedHitsReport();
    bytesDownloadedReport();
    bubbleChartReport();
    consolidatedTrendChart();
    consolidatedCategoryChart();
});

$("#btnLoad").click(function() {
    consolidatedHitsReport();
    bytesDownloadedReport();
    bubbleChartReport();
    consolidatedCategoryChart();

 javascript:_paq.push(['trackEvent', 'Submit Button', 'DashBoard', 'DashBoard']);
});

function consolidatedHitsReport() {
    $('#consolidatedHitsChart').empty();
    var date = $('#dashboard-date').val()
    date = date.replace('/', '-').replace('/','-')
    var width = 410, height = 350, radius = Math.min(width, height) / 2;

    var color = d3.scale.ordinal()
                    .range(rangeColor);
    var arc = d3.svg.arc()
                    .outerRadius(radius - 5)
                    .innerRadius(radius - 100);

    var pie = d3.layout.pie()
                        .sort(null)
                        .value(function(d) { return d.per; });

    var svg = d3.select("#consolidatedHitsChart").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    d3.json("/home/" + date, function(error, data) {
        data.forEach(function(d) { d.per = +d.per; });

        var g = svg.selectAll(".arc")
                    .data(pie(data))
                    .enter().append("g")
                    .attr("class", "arc");

        g.append("path")
            .attr("d", arc)
            .style("fill", function(d) { return color(d.data.domainname); });

        g.append("text")
            .attr("dy", ".35em")
            .attr("text-anchor", "middle")
            .attr("font-size", "14px")
            .attr("fill", "#605e5f")
            .style("font-weight", "bold")
            .text("Overall hits/day");

        g.append("text")
            .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
            .attr("dy", ".15em")
            .style("text-anchor", "middle")
            .style("font-size", "8px")
            .style("font-weight", "bold")
            .text(function(d) { return d.data.per + "%" ; });

        var legend = d3.select("#consolidatedHitsChart").append("svg")
                            .attr("class", "legend")
                            .attr("width", (radius * 2) - 190)
                            .attr("height", (radius * 2) -20)
                            .attr("style","padding-top:20px;")
                            .selectAll("g")
                            .data(color.domain().slice().reverse())
                            .enter().append("g")
                            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", color);

        legend.append("text")
                .attr("x", 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .style("font-size", "14px")
                .text(function(d) { return d; });
    });
}

function bytesDownloadedReport() {
    $('#bytesDownloadedChart').empty();
    var date = $('#dashboard-date').val();
    date = date.replace('/', '-').replace('/','-')
    var width = 410, height = 350, radius = Math.min(width, height) / 2;

    var color = d3.scale.ordinal()
                    .range(rangeColor);

    var arc = d3.svg.arc()
                    .outerRadius(radius - 5)
                    .innerRadius(radius - 100);

    var pie = d3.layout.pie()
                .sort(null)
                .value(function(d) { return d.per; });

    var svg = d3.select("#bytesDownloadedChart").append("svg")
                                    .attr("width", width)
                                    .attr("height", height)
                                    .append("g")
                                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    d3.json("/BytesDownload/" + date, function(error, data) {

        data.forEach(function(d) { d.per = +d.per; });

        var g = svg.selectAll(".arc")
                .data(pie(data))
                .enter().append("g")
                .attr("class", "arc");

        g.append("path")
                .attr("d", arc)
                .style("fill", function(d) { return color(d.data.domainname); });

        g.append("text")
                .attr("dy", ".35em")
                .attr("text-anchor", "middle")
                .attr("font-size", "14px")
                .attr("fill", "#605e5f")
                .style("font-weight", "bold")
                .text("Bytes download/day");

        g.append("text")
                .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                .attr("dy", ".15em")
                .style("text-anchor", "middle")
                .style("font-size", "8px")
                .style("font-weight", "bold")
                .text(function(d) { return d.data.per + "%" ; });

        var legend = d3.select("#bytesDownloadedChart").append("svg")
                        .attr("class", "legend")
                        .attr("width", (radius * 2) - 190)
                        .attr("height", (radius * 2) - 20)
                        .attr("style","padding-top:20px;")
                        .selectAll("g")
                        .data(color.domain().slice().reverse())
                        .enter().append("g")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

        legend.append("text")
              .attr("x", 24)
              .attr("y", 9)
              .attr("dy", ".35em")
              .style("font-size", "14px")
              .text(function(d) { return d; });
    });
}

function bubbleChartReport() {
    $('#bubblechart').empty();

    var date = $('#dashboard-date').val()
    date = date.replace('/', '-').replace('/','-')

    var width = 560, height = 450, radius = Math.min(width, height) / 2;

    var color = d3.scale.quantize()
                        .range(rangeColor);

    var size = 460;

    var pack = d3.layout.pack()
                        .sort(null)
                        .size([size, size])
                        .value(function(d) { return setradius(d.per,d.domainname); })
                        .padding(5);

    var svg = d3.select("#bubblechart").append("svg")
                .attr("width", size)
                .attr("height", size);

    d3.json("/bubblechart/" + date, function(error, data) {

        color.domain(d3.extent(data, function(d) { return d.per; }));

        svg.selectAll("circle")
            .data(pack.nodes({children: data}).slice(1))
            .enter().append("circle")
            .attr("r", function(d) { return setradius(d.per, d.domainname); })
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; })
            .style("fill", function(d,i) { return color(i); })
            .append("title")
            .text(function(d) {
        return d.domainname + "\n Hits%: " + d.per });
    });

    function setradius(per,domain) {
        a = per
        if(domain != "Others")
            return a * 5
        return per
    }
    d3.select(self.frameElement).style("height", size + "px");
}

function consolidatedTrendChart() {

    $('#consolidatedTrendChart').empty();

    var svg = dimple.newSvg("#consolidatedTrendChart", 590, 400);
    d3.json("/gettrendview/", function (data) {

      // Create and Position a Chart
      var trendChart = new dimple.chart(svg, data);
      trendChart.setBounds(60, 30, 500, 300);
      var x = trendChart.addCategoryAxis("x", "date")
      var y = trendChart.addMeasureAxis("y", "totalhits");
      y.tickFormat = ',.0f';

      //x.addOrderRule("Date");

      // Add a thick line with markers
      var lines = trendChart.addSeries(null, dimple.plot.line);
      lines.lineWeight = 2;
      lines.lineMarkers = true;
     // lines.interpolation = "cardinal";
      // Draw the chart
      trendChart.draw();
   });
}

function consolidatedCategoryChart() {
    $('#consolidatedCategoryChart').empty();
    var date = $('#dashboard-date').val();
    date = date.replace('/', '-').replace('/','-');

    var svg = dimple.newSvg("#consolidatedCategoryChart", 960, 400);
    d3.json("/getConsolidatedCategoryDetails/" + date, function (data) {

      // Create and Position a Chart
      var trendChart = new dimple.chart(svg, data);
      trendChart.setBounds(60, 30, 500, 300);
      var x = trendChart.addCategoryAxis("x", "category")
      var y = trendChart.addMeasureAxis("y", "percentage");
      y.tickFormat = ',.0f';

      //x.addOrderRule("Date");

      // Add a thick line with markers
      var lines = trendChart.addSeries(null, dimple.plot.bar);
      lines.lineWeight = 2;
      lines.lineMarkers = true;
     // lines.interpolation = "cardinal";
      // Draw the chart
      trendChart.draw();
   });
}

</script>
{% endblock %}
