{% extends "base.html" %}

{% block filter %}
<form method="POST" action="/individualhits/"> {% csrf_token %}
    <div style="width:100%;padding-bottom:10px;">
        <div class="filter-innercont">
            <div class="bcolC colB">
                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td width="10px"> </td>
                        <td>
                            <label id="lbldashboard-date" for="dashboard-date">Date</label>
                            <input id="employeedata" type="hidden" value= '{{result}}' />
                        </td>
                        <td width="5px"></td>
                        <td align="center" valign="middle">
                            <input type="text" class="inputs" id="dashboard-date" name="dashboard-date" value='{{report_date}}' />
                        </td>
                        <td width="5px"></td>
                        <td>
                            <label id="lblLimit" for="ddlLimit">Limit</label>
                        </td>
                        <td width="5px"></td>
                        <td align="center" valign="middle">
                            <select id="ddlLimit" name="ddlLimit">
                                  <option value="5" selected="selected">5</option>
                                  <option value="10">10</option>
                                  <option value="15">15</option>
                                  <option value="20">20</option>
                                  <option value="25">25</option>
                            </select>
                        </td>
                        <td width="10px"></td>
                        <td align="center" valign="middle">
                            <input id="btnLoad" class="css_button" type="submit" value="submit" />
                        </td>
                    </tr>
                </table>
            </div>
         </div>
    </div>
</form>
{% endblock %}

{% block content_holder %}
    <div class="widget-block fL" id="oddWidget"></div>
    <div class="widget-block fR" id="evenWidget"></div>
{% endblock %}

{% block script_media %}
<script src="/media/js/d3.min.js"></script>

<script type="text/javascript">
$( document ).ready(function() {
$("#ddlLimit").val('{{num}}');
loadchart();
});

function isOdd(num) {
    return num % 2;
}

    function loadchart() {
        $('#oddWidget').empty();
        $('#evenWidget').empty();
	var empdata = jQuery.parseJSON(unescape($('#employeedata').val()));
	var n = $("#ddlLimit").val();
	if($("#ddlLimit").val() > empdata.length)
	{
	    n = empdata.length
         }
	for (var i = 0; i < n; i++) {
            pieChartId = "piechart" + i;
            legendId = "legend" + i;
            var emp_id = empdata[i]['empid']
            var emp_name = empdata[i]['empName']
            var emp_photo = empdata[i]['photo']
                    var divHTML = "<div class='grey-box'>";
                        divHTML += "<h4 class='grey-tile' title='consolidatedHitsChart'>";
                        divHTML += "<div class='min-max minimize' id='"+ emp_id + "-button' onClick='toggle("+ emp_id +");'>";
                        divHTML += "</div>";
                        divHTML += "<b>" + emp_id + " - " + emp_name + "</b>";
                        divHTML += "</h4>";
                        divHTML += "<div id='"+ emp_id +"-expand' style='display: block;'>";
                        divHTML += "<div id='"+ emp_id +"' style='padding:5px'>";
                        divHTML += "<div id='"+pieChartId+"' style='width: 100%'> </div>";
                        divHTML += "</div>";
                        divHTML += "</div>";
                        divHTML += "</div>";
                        divHTML += "<div class='widget-break' style='height: 5px;clear:both:float:left'></div>";
                  if (isOdd(i)) {
                    $("#evenWidget").append(divHTML);
		} else {
                    $("#oddWidget").append(divHTML);
                  }
            appendChart(emp_id, pieChartId, legendId, emp_photo);
	}
    }

function appendChart(empid, pieChartId, legendId, photo) {
var date = $("#dashboard-date").val();

var width = 410,
    height = 350,
    radius = Math.min(width, height) / 2;

var color1 = d3.scale.ordinal().range(["#98abc5", "#B2FA4C","#8a89a6", "#A06404","#5C6805", "#6b486b","#a05d56", "#d0743c", "#ff8c00", "#42FAD2"]);

var arc2 = d3.svg.arc().outerRadius(radius - 5).innerRadius(radius - 100);

var pie2 = d3.layout.pie().sort(null).value(function(d) { return d.per; });

var svg2 = d3.select("#" +pieChartId).append("svg")
                .attr("width", width).attr("height", height)
                .append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json("/individualhits1/"+empid+ "/" + date, function(error, data) {

	data.forEach(function(d) { d.per = +d.per; });

	var g2 = svg2.selectAll(".arc").data(pie2(data)).enter().append("g").attr("class", "arc");

	g2.append("path").attr("d", arc2).style("fill", function(d) { return color1(d.data.domainname); });

	g2.append("image")
		.attr("xlink:href", "/media/images/emp_pics/" + photo)
		.attr("x", -50).attr("y", -50)
		.attr("width", 100).attr("height", 100)
		.style("fill", "solid")
		.attr("class", "me image image-full");

	g2.append("text")
		.attr("transform", function(d) { return "translate(" + arc2.centroid(d) + ")"; } )
		.attr("dy", ".15em")
		.style("text-anchor", "middle")
		.style("font-size", "8px")
		.style("font-weight", "bold")
		.text(function(d) { return d.data.per + "%" ; });

	var legend2 = d3.select("#" + pieChartId).append("svg")
		.attr("class", "legend")
		.attr("width", (radius * 2)-195)
		.attr("height", (radius * 2) -20)
                  .attr("style","padding-top:20px;")
		.selectAll("g")
		.data(color1.domain().slice().reverse())
		.enter().append("g")
		.attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

	legend2.append("rect").attr("width", 18).attr("height", 18).style("fill", color1);

	legend2.append("text").attr("x", 24).attr("y", 9).attr("dy", ".35em").style("font-size", "14px").text(function(d) { return d; });
});


}

</script>
{% endblock %}
