{% extends "base.html" %}

{% block page_title %}
<title>DNS Analytics :: Individual Report</title>
{% endblock %}

{% block css_media %}

<style>

    .prog {
        width:100px;
        height:14px;
        border:1px solid #808080;
        float:right;
        margin-top: 6px;
    }
    .positive {
        width:0%;
        height:12px;
        background-color:#00FF80;
        line-height:13px;
        font-size:9.5px;
    }
    .negative {
        width:0%;
        height:12px;
        background-color:#ED5F15;
        line-height:13px;
        font-size:9.5px;
    }

span.info {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #A0A0A0;
  line-height: 16px;
  color: black;
  font-size: 8px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  margin-top: 6px;
  margin-right: 3px;
  margin-left: 3px;
}
span.info:hover { background-color: #AAAAAA; }
div.tooltip {
  background-color: #AAAAAA;
  color: black;
  position: absolute;
  font-size: 6px;
  right: 5px;
  top: 20px;
  z-index: 1000;
  width: 250px;
  border-radius: 5px;
}
div.tooltip p {
  margin: 2px;
  color: black;
}

</style>

{% endblock %}

{% block filter %}
<form method="POST" action="/individual/"> {% csrf_token %}
    <div class="filterContainer">

        <div class="filter-innercont">
         <div class="controlWidth">

                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td width="10px"> </td>
                        <td>

                            <label id="lbldashboard-date" for="dashboard-date">Date</label>
                            <input id="categoryemployeedata" type="hidden" value= '{{categoryemployeedata}}' />
                            <input id="hitsemployeedata" type="hidden" value= '{{hitsemployeedata}}' />
                        </td>
                        <td width="5px"></td>
                        <td align="center" valign="middle">
                            <input type="text" class="inputs" id="dashboard-date" name="dashboard-date" value='{{report_date}}' />
                        </td>
                        <td width="5px"></td>
                        <td>
                            <label id="lblLimit" for="ddlLimit">Limit</label>
                        </td>
                        <td width="5px"></td>
                        <td align="center" valign="middle">
                            <select id="ddlLimit" name="ddlLimit">
                                  <option value="5" selected="selected">5</option>
                                  <option value="10">10</option>
                                  <option value="15">15</option>
                                  <option value="20">20</option>
                                  <option value="25">25</option>
                            </select>
                        </td>
                        <td width="10px"></td>
                        <td align="center" valign="middle">
                            <input id="btnLoad" class="css_button" type="submit" value="submit" />
                        </td>
                        <td width="785px"></td>
                        <td align="center" valign="middle">
                            <input id="chkCollapse" type="checkbox" value="collapse" /><b>Collapse All</b>
                        </td>
                    </tr>
                </table>

         </div>
         </div>
    </div>
</form>
{% endblock %}

{% block content_holder %}
    <div id="tabs">
    <div class="controlWidth">
      <ul>
        <li><a href="#hits">Hits</a></li>
        <li><a href="#category">Category</a></li>
      </ul>
      </div>
      <div id="hits">
          <div class="controlWidth">
            <div class="widget-block fL" id="hits_OddWidget"></div>
            <div class="widget-block fR" id="hits_EvenWidget"></div>
            </div>
      </div>
      <div id="category">
          <div class="controlWidth">
            <div class="widget-block fL" id="category_OddWidget"></div>
            <div class="widget-block fR" id="category_EvenWidget"></div>
            </div>
      </div>
    </div>
{% endblock %}

{% block script_media %}

    <script src="/media/js/d3.min.js"></script>
    <script src="/media/js/dimple.v2.0.0.min.js"></script>
    <script src="/media/js/bullet.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        var rangeColor =  ["#77ccc9","#9bdde5", "#877bb9", "#bd81b7", "#ea91bd","#f69c9b", "#f9b48a", "#fdce80", "#ffed81", "#cae88c"];

        $('#chkCollapse').click(function() {
            $('#hits').find('[id$="-button"]').filter(function(index){
                console.log('hits - ' + this.id.split('-')[0]);
                toggleindividual(this.id.split('-')[0], document.getElementById('chkCollapse').checked);
            });
            $('#category').find('[id$="-button"]').filter(function(index){
                console.log('category - ' + this.id.split('-')[0]);
                toggleindividual(this.id.split('-')[0], document.getElementById('chkCollapse').checked);
            });
	    javascript:_paq.push(['trackEvent', 'Individual Report Usage', 'Individual OverallAll Collapse', 'Individual OverAll Collapse']);
        });

        $( document ).ready(function() {
            $("#tabs").tabs();
            $("#dashboard-date").datepicker('setDate','{{report_date}}');
            $("#ddlLimit").val('{{num}}');
            IndividualCategoryChart();
            IndividualHitsChart();
        });

        function isOdd(num) {
            return num % 2;
        }

	function TrackIndividualHits(empid) {
		javascript:_paq.push(['trackEvent', 'Individual Report Usage', 'Individual Hits', ' EmpId-' + empid + ':-Individual Hits']);
	}

	function TrackIndividualCategory(empid) {
		javascript:_paq.push(['trackEvent', 'Individual Report Usage', 'Individual Category', ' EmpId-' + empid + ':-Individual Category']);
	}

	$('#btnLoad').click(function() {
		javascript:_paq.push(['trackEvent', 'Submit Button', 'Individual Report', 'Individual Report']);
	});

        function IndividualCategoryChart() {
            $('#category_OddWidget').empty();
            $('#category_EvenWidget').empty();
            var empdata = jQuery.parseJSON(unescape($('#categoryemployeedata').val()));
            var n = $("#ddlLimit").val();
            if ($("#ddlLimit").val() > empdata.length) {
                n = empdata.length;
            }
            var divHTML;
            for (var i = 0; i < n; i++) {
                var pieChartId = "categoryPieChart" + i;
                var test = 'test' + i;
                var empId = empdata[i]['empid'].toString(), photo = empdata[i]['photo'],
                        empName = empdata[i]['empName'];
                var positive = "positive" + i;
                var negative = "negative" + i;
                var category_info = "category" + i;
                var toggleId = (empId.split('.').length > 1) ? empId.split('.')[3] : empId;
                toggleId = toggleId + i;
                var checkstate = document.getElementById('chkCollapse').checked;
                var divHTML = "<div class='grey-box'>";
                    divHTML += "<h4 class='grey-tile' title='individualCategoryChart'>";
                    divHTML += "<div class='min-max minimize' id='"+ toggleId + "-button' onClick='toggle("+ toggleId + "); TrackIndividualCategory("+ empId + ");'>";
                    divHTML += "</div>";
                    divHTML += "<b> :: " + empId + " - " + empName + "</b>";
                    divHTML += "<div style='float:right;'><span id='"+ category_info +"' category='' class='info'><img src='/media/images/icon_info_grey.gif' width=15px></span></div>";
                    divHTML += "<div style='float:right;' class='prog'> <div id='"+ positive +"' class='positive'></div> </div>"
                    divHTML += "<div style='float:right;' class='prog'> <div id='"+ negative +"' class='negative' style='float:right;'></div> </div>"
                    divHTML += "</h4>";
                    divHTML += "<div id='"+ toggleId +"-expand' style='display: block;'>";
                    divHTML += "<div id='"+ toggleId +"' style='padding:5px'>";
                    divHTML += "<div id='"+pieChartId+"' style='width: 100%'> </div>";
                    divHTML += "</div>";
                    divHTML += "</div>";
                    divHTML += "</div>";

                if (isOdd(i)) {
                    $("#category_EvenWidget").append(divHTML);
                } else {
                    $("#category_OddWidget").append(divHTML);
                }
                appendIndividualCategoryChart(empId, pieChartId, photo, positive, negative, category_info);
            }
        }

        function appendIndividualCategoryChart(empid, pieChartId, photo, positiveId, negativeId, category_info) {
            var date = $("#dashboard-date").val();

            var width = 410, height = 350, radius = Math.min(width, height) / 2;

            var color1 = d3.scale.ordinal()
                                 .range(rangeColor);

            var arc2 = d3.svg.arc().outerRadius(radius - 5).innerRadius(radius - 100);

            var pie2 = d3.layout.pie().sort(null).value(function(d) { return d.per; });

            var svg2 = d3.select("#" +pieChartId).append("svg")
                            .attr("width", width).attr("height", height)
                            .append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            d3.json("/GetIndividualCategory/"+empid+ "/" + date, function(error, data) {
                var positive_per = 0;
                var negative_per = 0;
                var positive_result = 0;
                var negative_result = 0;
                data.forEach(function(d) {
                    d.per = +d.per;
                    if ((d.type) == 'Positive') {
                        positive_per += d.per;
                        positive_result = positive_per.toFixed(2);

                        var stepSize = 15;
                        setTimeout((function() {
                            var positive = document.getElementById(positiveId);
                            return function progress() {
                                positive.style.width = positive_per.toFixed(2) + "%";
                                if (positive_result <= 100) {
                                    setTimeout(progress, stepSize);
                                }
                            }
                        }()), stepSize);
                    }
                    if ((d.type) == 'Negative') {
                        negative_per += d.per;
                        negative_result = negative_per.toFixed(2);

                        var stepSize = 15;
                        setTimeout((function() {
                            var negative = document.getElementById(negativeId);
                            return function progress() {
                                negative.style.width = negative_per.toFixed(2) + "%";
                                if (negative_result <= 100) {
                                    setTimeout(progress, stepSize);
                                }
                            }
                        }()), stepSize);
                    }
                    var tooltiptext = "Positive Internet Usage : "+ positive_per.toFixed(2) +"%.<br> Negative Internet Usage : "+ negative_per.toFixed(2) +"%"
                    $('#'+category_info).attr('category', tooltiptext);
                    $('#'+category_info).hover(function () {
                        var text = $(this).attr('category');
                        $(this).append("<div class='tooltip'><p>" + text + "</p></div>");
                    },         function () {
                        $("div.tooltip").remove();
			javascript:_paq.push(['trackEvent', 'Avg Icon Views', 'Individual Category', 'EmpId-' + empid + ':-Individual Category']);
                    });
                });


                $('#'+positiveId).append((positive_result) + "%");
                $('#'+negativeId).append((negative_result) + "%");

                var g2 = svg2.selectAll(".arc").data(pie2(data)).enter().append("g").attr("class", "arc");

                g2.append("path").attr("d", arc2).style("fill", function(d) { return color1(d.data.category); });

                g2.append("image")
                    .attr("xlink:href", "/media/images/emp_pics/" + photo)
                    .attr("x", -50).attr("y", -50)
                    .attr("width", 100).attr("height", 100)
                    .style("fill", "solid")
                    .attr("class", "me image image-full");

                g2.append("text")
                    .attr("transform", function(d) { return "translate(" + arc2.centroid(d) + ")"; } )
                    .attr("dy", ".15em")
                    .style("text-anchor", "middle")
                    .style("font-size", "8px")
                    .style("font-weight", "bold")
                    .text(function(d) { return d.data.per + "%" ; });

                var legend2 = d3.select("#" + pieChartId)
                                .append("svg")
                                .attr("class", "legend")
                                .attr("width", (radius * 2)-195)
                                .attr("height", (radius * 2) -20)
                                .attr("style","padding-top:20px;")
                                .selectAll("g")
                                .data(color1.domain().slice().reverse())
                                .enter().append("g")
                                .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend2.append("rect").attr("width", 18)
                                      .attr("height", 18).style("fill", color1);

                legend2.append("text").attr("x", 24)
                                      .attr("y", 9)
                                      .attr("dy", ".35em")
                                      .style("font-size", "14px")
                                      .text(function(d) { return d; });
            });
        }


        function IndividualHitsChart() {
            $('#hits_OddWidget').empty();
            $('#hits_EvenWidget').empty();
            var avgHitsCount = '{{avgHitsCount}}';
            var totalHitsCount = '{{totalConsolidatedHits}}';
            var avgHitsPercentage = '{{avgHitsPercentage}}';
            var empdata = jQuery.parseJSON(unescape($('#hitsemployeedata').val()));
            var n = $("#ddlLimit").val();
            if ($("#ddlLimit").val() > empdata.length) {
                n = empdata.length;
            }
            for (var i = 0; i < n; i++) {
                pieChartId = "hitsPieChart" + i;
                avgHitsChartId = "avgHitsChart"+ i;
                var empId = empdata[i]['empid'].toString(),
                            photo = empdata[i]['photo'],
                            empName = empdata[i]['empName'];
                var hits_info = "hits" + i;
                var hitPerIP = empdata[i]['hitPerIP'];
                var hitPerPhoto = empdata[i]['hitPerPhoto'];
                var toggleId = (empId.split('.').length > 1) ? empId.split('.')[3] : empId;
                var checkstate = document.getElementById('chkCollapse').checked;
                if (hitPerIP > avgHitsPercentage) {
                    toolTipMsg = "This percentage exceeds the average percentage : "+ avgHitsPercentage +"%";
                } else {
                    toolTipMsg = "This percentage deceeds the average percentage : "+ avgHitsPercentage +"%";
                }

                var divHTML = "<div class='grey-box'>";
                    divHTML += "<h4 class='grey-tile' title='individualHitsChart'>";
                    divHTML += "<div class='min-max minimize' id='"+ toggleId + "-button' onClick='toggle("+ toggleId + "); TrackIndividualHits("+ toggleId + ");'>";
                    divHTML += "</div>";
                    divHTML += "<b> :: " + empId + " - " + empName + "</b>";
                    divHTML += "<div style='float:right;'><span id='"+ hits_info +"' hits='"+ toolTipMsg +"' class='info'><img src='/media/images/icon_info_grey.gif' width=15px></span></div>";
                    divHTML += "<div id='avgHitsChartId' class='avgHits'><img src='/media/images/"+ hitPerPhoto + "' class='avgHitsImg' />" + hitPerIP  +"%</div>";
                    divHTML += "</h4>";
                    divHTML += "<div id='"+ toggleId +"-expand' style='display: block;'>";
                    divHTML += "<div id='"+ toggleId +"' style='padding:5px'>";
                    divHTML += "<div id='"+ pieChartId +"' style='width: 100%'> </div>";
                    divHTML += "</div>";
                    divHTML += "</div>";
                    divHTML += "</div>";

                if (isOdd(i)) {
                    $("#hits_EvenWidget").append(divHTML);
                } else {
                    $("#hits_OddWidget").append(divHTML);
                }

                $('#'+hits_info).hover(function () {
                        var text = $(this).attr('hits');
                        $(this).append("<div class='tooltip'><p>" + text + "</p></div>");
                    }, function () {
                        $("div.tooltip").remove();
			javascript:_paq.push(['trackEvent', 'Avg Icon Views', 'Individual Hits', 'EmpId-' + empId + ':-Individual Hits']);
                    });
                appendChart(empId, pieChartId, photo);
            }
        }

        function appendChart(empid, pieChartId, photo) {
        var date = $("#dashboard-date").val();

        var width = 410,
            height = 350,
            radius = Math.min(width, height) / 2;

        var color1 = d3.scale.ordinal().range(rangeColor);

        var arc2 = d3.svg.arc().outerRadius(radius - 5).innerRadius(radius - 100);

        var pie2 = d3.layout.pie().sort(null).value(function(d) { return d.per; });

        var svg2 = d3.select("#" +pieChartId).append("svg")
                                            .attr("width", width).attr("height", height)
                                            .append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        d3.json("/individualhits1/"+empid+ "/" + date, function(error, data) {

            data.forEach(function(d) { d.per = +d.per; });

            var g2 = svg2.selectAll(".arc").data(pie2(data)).enter().append("g").attr("class", "arc");

            g2.append("path").attr("d", arc2).style("fill", function(d) { return color1(d.data.domainname); });

            g2.append("image")
		.attr("xlink:href", "/media/images/emp_pics/" + photo)
		.attr("x", -50).attr("y", -50)
		.attr("width", 100).attr("height", 100)
		.style("fill", "solid")
		.attr("class", "me image image-full");

            g2.append("text")
		.attr("transform", function(d) { return "translate(" + arc2.centroid(d) + ")"; } )
		.attr("dy", ".15em")
		.style("text-anchor", "middle")
		.style("font-size", "8px")
		.style("font-weight", "bold")
		.text(function(d) { return d.data.per + "%" ; });

            var legend2 = d3.select("#" + pieChartId).append("svg")
		.attr("class", "legend")
		.attr("width", (radius * 2)-195)
		.attr("height", (radius * 2) -20)
                  .attr("style","padding-top:20px;")
		.selectAll("g")
		.data(color1.domain().slice().reverse())
		.enter().append("g")
		.attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

            legend2.append("rect").attr("width", 18).attr("height", 18).style("fill", color1);

            legend2.append("text").attr("x", 24).attr("y", 9).attr("dy", ".35em").style("font-size", "14px").text(function(d) { return d; });
        });
    }

        function avgHitChart(empid, chartId) {
            $('#chartId').empty();
            var date = $('#dashboard-date').val();
            date = date.replace('/', '-').replace('/','-')
            var width = 410, height = 350, radius = Math.min(width, height) / 2;
            var chart = d3.bullet().width(width).height(height);

            d3.json("/GetIndividualAvgHits/"+empid+ "/" + date, function(error, data) {
              var svg = d3.select("#"+chartId).selectAll("svg")
                  .data(data)
                  .enter().append("svg")
                  .attr("class", "bullet")
                  .attr("width", width)
                  .attr("height", height)
                  .append("g")
                  .attr("transform", "translate(" +  width / 2 + "," + height / 2  + ")")
                  .call(chart);

              var title = svg.append("g")
                  .style("text-anchor", "end")
                  .attr("transform", "translate(-6," + height / 2 + ")");

              title.append("text")
                  .attr("class", "title")
                  .text(function(d) { return d.title; });

              title.append("text")
                  .attr("class", "subtitle")
                  .attr("dy", "1em")
                  .text(function(d) { return d.subtitle; });
            });
        }

  </script>
{% endblock %}
