{% extends "base.html" %}

{% block page_title %}
<title>Linear Prdecition Report</title>
{% endblock %}

{% block filter %}

{% endblock %}

{% block content_holder %}
<div ng-app="predictionApp" ng-controller="PredictionCtrl">

<div class="gridStyle" ng-grid="gridOptions" style="float:left;align:top;display:block;height:550px;width:85%"></div>
<div>

</div>
</div>

{% endblock %}

{% block script_media %}
<script src="../media/js/angular/angular.min.js"></script>
<script src="../media/js/jquery.min.js"></script>
<script src="../media/js/angular/ng-grid-2.0.11.min.js"></script>
<script src="../media/js/angular/aggregate.js"></script>
<link rel="stylesheet" type="text/css" href="../media/css/ng-grid.min.css" />
<link rel="stylesheet" type="text/css" href="../media/css/ng-style.css" />
<script src="../media/js/d3.min.js"></script>
<script type="text/javascript" src="../media/js/prediction.js"></script>

{% endblock %}
