{% extends "base.html" %}

{% block page_title %}
<h1> Internet Consumption Report </h1>
{% endblock %}
{% block report_filter %}
<form>
  <p><h4>View report by </h4> <label><input type="radio" name="dataset" value="cnt" checked> Count</label>
  <label><input type="radio" name="dataset" value="per"> Percentage</label>
  </p>
 </form>
{% endblock %}

{% block content_holder %}
<div id="report_view"></div>
{% endblock %}

{% block script_media %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category20();

var pie = d3.layout.pie()
    .value(function(d) { return d; })
    .sort(null);

var arc = d3.svg.arc()
    .innerRadius(radius - 100)
    .outerRadius(radius - 20);

var svg = d3.select("#report_view").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json("/getCntPerData/", function(error, data) {

data.forEach(function(d) {
    d = type(d);
  });

  var path = svg.datum(data).selectAll("path")
      .data(pie)
    .enter().append("path")
      .attr("fill", function(d, i) { return color(i); })
      .attr("d", arc);

  d3.selectAll("input")
      .on("change", change);

  var timeout = setTimeout(function() {
    d3.select("input[value=\"cnt\"]").property("checked", true).each(change);
  }, 2000);

  function change() {
    var value = this.value;
    clearTimeout(timeout);
    pie.value(function(d) { return d[value]; }); // change the value function
    path = path.data(pie); // compute the new angles
    path.attr("d", arc); // redraw the arcs
  }
});

function type(d) {
  d.cnt = +d.cnt;
  d.per = +d.per;
  return d;
}

</script>
{% endblock %}
