{% extends "base.html" %}

{% block content_holder %}

        
            <div id="saleschartid" style="padding:5px;text-align:center;">
		 <h3 color="#0000">
		<b>RETWEETS BY LENGTH OF TWEET</b></h3>
                <div id="saleschart"> </div>
            </div>
        
    


{% endblock %}

{% block script_media %}


<script src="../media/js/d3.min.js"></script>
<script src="../media/js/dimple.v2.0.0.min.js"></script>
<script>

$( document ).ready(function() {
    doubleChartReport();
 
});
$("#btnLoad").click(function() {

    doubleChartReport();
 

});


function doubleChartReport() {
    $('#saleschart').empty();
    var date = $('#dashboard-date').val();
    date = date.replace('-', '/').replace('-', '/');
    var url = '{{retweet_URL}}?date='+date
	
	var svg = dimple.newSvg("#saleschart", 590, 400);
    d3.json(url, function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(60, 30, 510, 330)
      var x = myChart.addCategoryAxis("x", ["Product", "TweetLength"]);
      var y = myChart.addMeasureAxis("y", "Percentage");
      y.tickFormat = ',.0f';
      var s = myChart.addSeries("TweetLength", dimple.plot.bar);
      myChart.addLegend(65, 10, 510, 20, "right");
      myChart.draw();
   
   });
}
  
  </script>
{% endblock %}
