{% extends "base.html" %}

{% block css_media %}

{% endblock %}

{% block content_holder %}
    <div class="widget-block fL" id="oddWidget"></div>
    <div class="widget-block fR" id="evenWidget"></div>
{% endblock %}

{% block script_media %}
<script src="http://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript">

    $(function() {
        loadchart();
    });

    function isOdd(num) {
        return num % 2;
    }

    function loadchart() {
         $("#oddWidget").empty();
         $("#evenWidget").empty();
	limit = $('#ddlLimit').val();
	var empid = ['463', '698', '285', '775','572','573','587','599','607', '807'];
	
	for (var i = 0; i < 10; i++) {
            pieChartId = "piechart" + i;
            legendId = "legend" + i;
            if (isOdd(i)) {
                $("#oddWidget").append("<div class='grey-box'><h4 class='grey-tile'>");
                $("#oddWidget").append("<div class='min-max minimize' id='"+ pieChartId + "-button'></div>" + empid[i] + "</h4>");
                $("#oddWidget").append("<div id='" + pieChartId + "-expand' style='display: block;'>");
                $("#oddWidget").append("<div id='"+pieChartId+"' style='width: 100%'> <div id='" + legendId +"' class='widget-block fR' style='clear : both;'></div></div>");
                $("#oddWidget").append("</div> </div>");
                $("#oddWidget").append("<div class='widget-break' style='height: 5px;'></div>");
            } else {
                $("#evenWidget").append("<div class='grey-box'><h4 class='grey-tile'>");
                $("#evenWidget").append("<div class='min-max minimize' id='"+ pieChartId + "-button'></div>" + empid[i] + "</h4>");
                $("#evenWidget").append("<div id='" + pieChartId + "-expand' style='display: block;'>");
                $("#evenWidget").append("<div id='"+pieChartId+"' style='width: 100%'><div id='" + legendId +"' class='widget-block fR' style='clear : both;'></div>");
                $("#evenWidget").append("</div> </div> </div> ");
                $("#evenWidget").append("<div class='widget-break' style='height: 5px;'></div>");
            }
            appendChart(empid[i], pieChartId, legendId);
	}
    }

function appendChart(empid, pieChartId, legendId) {

    var width = 410, height = 350, radius = Math.min(width, height) / 2;

    var color1 = d3.scale.ordinal()
                         .range(["#98abc5", "#B2FA4C","#8a89a6", "#A06404","#5C6805", "#6b486b","#a05d56", "#d0743c", "#ff8c00", "#42FAD2"]);

    var arc2 = d3.svg.arc().outerRadius(radius - 5).innerRadius(radius - 100);

    var pie2 = d3.layout.pie().sort(null).value(function(d) { return d.per; });

    var svg2 = d3.select("#" +pieChartId).append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    d3.json("/individualhits1/"+empid, function(error, data) {

        data.forEach(function(d) { d.per = +d.per; });

        var g2 = svg2.selectAll(".arc").data(pie2(data)).enter().append("g").attr("class", "arc");

        g2.append("path").attr("d", arc2).style("fill", function(d) { return color1(d.data.domainname); });

        g2.append("image")
            .attr("xlink:href", "/media/images/emp_pics/" + empid +".jpg")
            .attr("x", -50).attr("y", -50)
            .attr("width", 100).attr("height", 100)
            .style("fill", "solid")
            .attr("class", "me image image-full");

        g2.append("text")
            .attr("transform", function(d) { return "translate(" + arc2.centroid(d) + ")"; } )
            .attr("dy", ".15em")
            .style("text-anchor", "middle")
            .style("font-size", "8px")
            .style("font-weight", "bold")
            .text(function(d) { return d.data.per + "%" ; });

        var legend2 = d3.select("#" + legendId).append("svg")
                        .attr("class", "legend")
                        .attr("width", radius * 2)
                        .attr("height", radius * 2)
                        .selectAll("g")
                        .data(color1.domain().slice().reverse())
                        .enter().append("g")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend2.append("rect").attr("width", 18).attr("height", 18).style("fill", color1);
        legend2.append("text").attr("x", 24).attr("y", 9).attr("dy", ".35em").style("font-size", "14px").text(function(d) { return d; });
    });
}

</script>
{% endblock %}
