{% extends "base.html" %}

{% block page_title %}
<title>Toys Sales - Prdecition Report</title>
{% endblock %}
{% block filter %}

{% endblock %}

{% block content_holder %}
<div style="width:100%">

<div class="widget-block fL">
    <div class="grey-box">
        <h4 class="grey-tile" title="saleschartid">
            <div class="min-max minimize" id="saleschartid-button" onClick='toggle("saleschartid");'>
            </div>
            <b> :: Sales - Prediction for the year 2014</b>
        </h4>
        <div id="saleschartid-expand" style="display: block;">
            <div id="saleschartid" style="padding:5px">
                <div id="saleschart" style="width: 100%"> </div>
            </div>
        </div>
    </div>

    <div class="grey-box">
        <h4 class="grey-tile" title="monthwisesalesid">
            <div class="min-max minimize" id="monthwisesalesid-button" onClick='toggle("monthwisesalesid");'>
            </div>
            <b> :: Monthwise Sales - Prediction for the month July</b>
        </h4>
        <div id="monthwisesalesid-expand" style="display: block;">
            <div id="monthwisesalesid" style="padding:5px">
                <div id="monthwisesales"> </div>
            </div>
        </div>
    </div>
</div>

<div class="widget-block fR">
    <div class="grey-box">
        <h4 class="grey-tile" title="customerchartid">
            <div class="min-max minimize" id="customerchartid-button" onClick='toggle("customerchartid");'>
            </div>
            <b> :: Customer Strength - Prediction for the year 2014</b>
        </h4>
        <div id="customerchartid-expand" style="display: block;">
            <div id="customerchartid" style="padding:5px">
                <div id="customerchart" style="width: 100%"> </div>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock %}

{% block script_media %}

<style>

path {
stroke: blue;
stroke-width: 2;
fill: none; /* stop it being solid area */
}

.x.axis line {
stroke: #000;
}

.x.axis path {
fill: none;
stroke: #000;
}

.y.axis line, .y.axis path {
fill: none;
stroke: #000;
}
</style>

<script src="../media/js/d3.min.js"></script>
<script src="../media/js/dimple.v2.0.0.min.js"></script>
<script type="text/javascript">
    var svg = dimple.newSvg("#saleschart", 590, 400);
    d3.json("/saleprediction/", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(60, 30, 510, 330)
      var x = myChart.addCategoryAxis("x", ["purchaseyear", "category"]);
      var y = myChart.addMeasureAxis("y", "Sales");
      y.tickFormat = ',.0f';
      var s = myChart.addSeries("category", dimple.plot.bar);
      myChart.addLegend(65, 10, 510, 20, "right");
      myChart.draw();
      });

      var svg1 = dimple.newSvg("#customerchart", 590, 400);
      d3.json("/customerprediction/", function (data) {
      var myChart = new dimple.chart(svg1, data);
      myChart.setBounds(60, 30, 510, 330)
      myChart.addCategoryAxis("x", ["purchaseyear", "category"]);
      var y = myChart.addMeasureAxis("y", "Total_Customers");
      y.tickFormat = ',.0f';
      myChart.addSeries("category", dimple.plot.bar);
      myChart.addLegend(65, 10, 510, 20, "right");
      myChart.draw();
      });


     var svg2 = dimple.newSvg("#monthwisesales", 700, 600);
    d3.json("/monthwiseprediction/", function (data) {

      // Get a unique list of dates
      var months = dimple.getUniqueValues(data, "purchasedate");

      // Set the bounds for the charts
      var row = 0,
          col = 0,
          top = 25,
          left = 60,
          inMarg = 15,
          width = 215,
          height = 120,
          totalWidth = parseFloat(svg.attr("width"));

      // Pick the latest 12 dates
      //months = months.slice(months.length - 12);
      //alert(months)
      // Draw a chart for each of the 12 dates
      months.forEach(function (month) {

          // Wrap to the row above
          if (left + ((col + 1) * (width + inMarg)) > totalWidth) {
            row += 1;
            col = 0;
          }

          // Filter for the month in the iteration
          var chartData = dimple.filterData(data, "purchasedate", month);

          // Use d3 to draw a text label for the month
          svg2
            .append("text")
                .attr("x", left + (col * (width + inMarg)) + (width / 2))
                .attr("y", top + (row * (height + inMarg)) + (height / 2) + 12)
                .style("font-family", "sans-serif")
                .style("font-weight", "bold")
                .style("text-anchor", "middle")
                .style("font-size", "40px")
                .style("opacity", 0.2)
                .text(chartData[0].Month.substring(0, 3));

          // Create a chart at the correct point in the trellis
          var myChart = new dimple.chart(svg2, chartData);
          myChart.setBounds(
            left + (col * (width + inMarg)),
            top + (row * (height + inMarg)),
            width,
            height);

          // Add x and fix ordering so that all charts are the same
          var x = myChart.addCategoryAxis("x", "category");
<!--
          x.addOrderRule(["Black Mesa", "Aperture", "Tyrell Corp",
            "Rekall", "MomCorp", "LexCorp", "Stark Ind", "Wayne Ent"]);
-->

          // Add y and fix scale so that all charts are the same
          var y = myChart.addMeasureAxis("y", "Sales");
          y.tickFormat = ',.0f';

          // Draw the bars.  Passing null here would draw all bars with
          // the same color.  Passing owner second colors by owner, which
          // is normally bad practice in a bar chart but works in a trellis.
          // Month is only passed here so that it shows in the tooltip.
          myChart.addSeries(["Month", "category"], dimple.plot.bar);

          // Draw the chart
          myChart.draw();

          // Once drawn we can access the shapes
          // If this is not in the first column remove the y text
          if (col > 0) {
            y.shapes.selectAll("text").remove();
          }
          // If this is not in the last row remove the x text
          if (row < 2) {
             x.shapes.selectAll("text").remove();
          }
          // Remove the axis labels
          y.titleShape.remove();
          x.titleShape.remove();

          // Move to the next column
          col += 1;

      }, this);
    });
  </script>
{% endblock %}
