{% extends "base.html" %}

{% block page_title %}

{% endblock %}

{% block content_holder %}
<div style="width:100%">
    <div id="page_title" style="padding: 5em 0; height: 10px; text-align:center; margin: 0px 0px -38px 20px">
	<h4 style="font-family: Open Sans, serif; ">
	    Consolidated Hits Report</h4>
     </div>
<div id="trendchart" style="display:inline-block; margin: 0px 0px 0px 200px"> </div>

</div>
{% endblock %}

{% block script_media %}

<style>

path {
stroke: blue;
stroke-width: 2;
fill: none; /* stop it being solid area */
}

.x.axis line {
stroke: #000;
}

.x.axis path {
fill: none;
stroke: #000;
}

.y.axis line, .y.axis path {
fill: none;
stroke: #000;
}
</style>

<script src="/media/js/d3.min.js"></script>
<script src="/media/js/dimple.v2.0.0.min.js"></script>
<script>
$( document ).ready(function() {
    loadchart();
});

function loadchart() {
    $('#trendchart').empty();

    var svg = dimple.newSvg("#trendchart", 590, 400);
    d3.json("/gettrendview/", function (data) {

        // Create and Position a Chart
        var trendChart = new dimple.chart(svg, data);
        trendChart.setBounds(90, 30, 500, 300);
        var x = trendChart.addCategoryAxis("x", "date")
        var y = trendChart.addMeasureAxis("y", "totalhits");
        y.tickFormat = ',.0f';
        //x.addOrderRule("Date");
        // Add a thick line with markers
        var lines = trendChart.addSeries(null, dimple.plot.line);
        lines.lineWeight = 2;
        lines.lineMarkers = true;
        // lines.interpolation = "cardinal";
        // Draw the chart
        trendChart.draw();
   });
}
</script>
{% endblock %}
