{% extends "base.html" %}

{% block content_holder %}

<div class="widget-block fL">
    <div class="grey-box">
        <h4 class="grey-tile" title="consolidatedHitsChart">
            <div class="min-max minimize" id="consolidatedHits-button" onClick='toggle("consolidatedHits");'>
            </div>
            <b> :: Adidas - WordCloud</b>
        </h4>
        <div id="consolidatedHits-expand" style="display: block;">
            <div id="consolidatedHits" style="padding:5px">
                <div id="consolidatedHitsChart" style="width: 100%"> </div>
            </div>
        </div>
    </div>

       <div class="grey-box">
        <h4 class="grey-tile" title="consolidatedTrendChart">
            <div class="min-max minimize" id="consolidatedTrend-button" onClick='toggle("consolidatedTrend");'>
            </div>
            <b> :: Reebok - WordCloud</b>
        </h4>
        <div id="consolidatedTrend-expand" style="display: block;">
            <div id="consolidatedTrend" style="padding:5px">
                <div id="consolidatedTrendChart" style="width: 100%"> </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-block fR">
    <div class="grey-box">
        <h4 class="grey-tile" title="consolidatedCategory">
            <div class="min-max minimize" id="consolidatedCategory-button" onClick='toggle("consolidatedCategory");'>
            </div>
            <b> :: Nike - WordCloud</b>
        </h4>
        <div id="consolidatedCategory-expand" style="display: block;">
            <div id="consolidatedCategory" style="padding:5px">
                <div id="consolidatedCategoryChart"> </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block script_media %}
<script src="/media/js/d3.min.js"></script>
<script src="/media/js/dimple.v2.0.0.min.js"></script>
<script>

var rangeColor = ["#877bb9","#bd81b7", "#a292d6", "#fbacab", "#fcc895","#fee087", "#fff89c", "#97e5b3", "#abe1fa", "#cae88c"];

$( document ).ready(function() {
    pieChartReport();
    lineChartReport();
    graphChartReport();
    
    
 
});
$("#btnLoad").click(function() {

   pieChartReport();
   lineChartReport();
   graphChartReport();


});

function pieChartReport() {
    $('#consolidatedHitsChart').empty();
    var date = $('#dashboard-date').val();
    date = date.replace('-', '/').replace('-', '/');
    var url = '{{adidaswordcloud_URL}}?date='+date
    var width = 410, height = 350, radius = Math.min(width, height) / 2;
    var color = d3.scale.ordinal()
                    .range(rangeColor);
    var arc = d3.svg.arc()
                    .outerRadius(radius - 5)
                    .innerRadius(radius - 100);

    var pie = d3.layout.pie()
                        .sort(null)
                        .value(function(d) { return d.percentage; });

    var svg = d3.select("#consolidatedHitsChart").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    d3.json(url, function(error, data) {
        data.forEach(function(d) { d.percentage = +d.percentage; });

        var g = svg.selectAll(".arc")
                    .data(pie(data))
                    .enter().append("g")
                    .attr("class", "arc");

        g.append("path")
            .attr("d", arc)
            .style("fill", function(d) { return color(d.data.word); });

        g.append("text")
            .attr("dy", ".35em")
            .attr("text-anchor", "middle")
            .attr("font-size", "14px")
            .attr("fill", "#605e5f")
            .style("font-weight", "bold")
            .text("Adidas WordCloud");

        g.append("text")
            .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
            .attr("dy", ".15em")
            .style("text-anchor", "middle")
            .style("font-size", "8px")
            .style("font-weight", "bold")
            .text(function(d) { return d.data.percentage + "%" ; });

        var legend = d3.select("#consolidatedHitsChart").append("svg")
                            .attr("class", "legend")
                            .attr("width", (radius * 2) - 190)
                            .attr("height", (radius * 2) -20)
                            .attr("style","padding-top:20px;")
                            .selectAll("g")
                            .data(color.domain().slice().reverse())
                            .enter().append("g")
                            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", color);

        legend.append("text")
                .attr("x", 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .style("font-size", "14px")
                .text(function(d) { return d; });
    });
}

function lineChartReport() {
    $('#consolidatedCategoryChart').empty();
    var date = $('#dashboard-date').val();
    date = date.replace('-', '/').replace('-', '/');
    var url = '{{nikewordcloud_URL}}?date='+date
    var svg = dimple.newSvg("#consolidatedCategoryChart", 960, 400);
    d3.json(url, function (data) {

      // Create and Position a Chart
      var trendChart = new dimple.chart(svg, data);
      trendChart.setBounds(60, 30, 500, 300);
      var x = trendChart.addCategoryAxis("x", "word")
      var y = trendChart.addMeasureAxis("y", "percentage")
      y.tickFormat = ',.0f';

      //x.addOrderRule("Date");

      // Add a thick line with markers
      var lines = trendChart.addSeries(null, dimple.plot.bar);
      lines.lineWeight = 2;
      lines.lineMarkers = true;
     // lines.interpolation = "cardinal";
      // Draw the chart
      trendChart.draw();
   });
}

function graphChartReport() {

    $('#consolidatedTrendChart').empty();
    var date = $('#dashboard-date').val();
    date = date.replace('-', '/').replace('-', '/');
    var url = '{{reebokwordcloud_URL}}?date='+date

    var svg = dimple.newSvg("#consolidatedTrendChart", 590, 400);
    d3.json(url, function (data) {

      // Create and Position a Chart
      var trendChart = new dimple.chart(svg, data);
      trendChart.setBounds(60, 30, 500, 300);
      var x = trendChart.addCategoryAxis("x", "word")
      var y = trendChart.addMeasureAxis("y", "percentage");
      y.tickFormat = ',.0f';

      

      // Add a thick line with markers
      var lines = trendChart.addSeries(null, dimple.plot.line);
      lines.lineWeight = 2;
      lines.lineMarkers = true;
     // lines.interpolation = "cardinal";
      // Draw the chart
      trendChart.draw();
   });
}         

</script>
{% endblock %}
